.pageWrapper {
  background-color: #ededed;
  padding-bottom: 120px; }
  .pageWrapper .contentBlockWrapper, .pageWrapper .headerText {
    background-color: #fff; }
  .pageWrapper .contentBlockWrapper {
    padding: 20px 60px 60px 60px;
    margin-top: 0; }
  .pageWrapper .headerText {
    padding: 60px 60px 0 60px; }
    .pageWrapper .headerText nav ol {
      margin-top: 0;
      margin-bottom: 0; }
    .pageWrapper .headerText h1, .pageWrapper .headerText p {
      margin-bottom: 0; }
    .pageWrapper .headerText h1 {
      font-size: 54px; }
  .pageWrapper aside.postAside .associated ul {
    margin-top: 0; }
    .pageWrapper aside.postAside .associated ul li {
      margin-top: 0; }
      .pageWrapper aside.postAside .associated ul li h3 {
        padding-left: 15px;
        padding-right: 15px; }
        .pageWrapper aside.postAside .associated ul li h3 a:hover {
          text-decoration: none; }
  .pageWrapper aside.postAside .eventDetails {
    padding: 15px;
    border: 1px solid #ededed; }
    .pageWrapper aside.postAside .eventDetails h2, .pageWrapper aside.postAside .eventDetails h3 {
      color: #50287d;
      font-family: "league-gothic", sans-serif;
      letter-spacing: 1px;
      text-transform: uppercase;
      font-style: normal;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 15px; }
    .pageWrapper aside.postAside .eventDetails h2 {
      font-size: 36px;
      border-bottom: 1px solid #ededed;
      margin-bottom: 30px; }
    .pageWrapper aside.postAside .eventDetails h3 {
      font-size: 24px; }
    .pageWrapper aside.postAside .eventDetails .eventWhereWrapper, .pageWrapper aside.postAside .eventDetails .eventWhenWrapper {
      text-align: center; }
      .pageWrapper aside.postAside .eventDetails .eventWhereWrapper p, .pageWrapper aside.postAside .eventDetails .eventWhereWrapper h3, .pageWrapper aside.postAside .eventDetails .eventWhenWrapper p, .pageWrapper aside.postAside .eventDetails .eventWhenWrapper h3 {
        text-align: left; }
      .pageWrapper aside.postAside .eventDetails .eventWhereWrapper p, .pageWrapper aside.postAside .eventDetails .eventWhenWrapper p {
        margin-top: 0; }
    .pageWrapper aside.postAside .eventDetails a.button, .pageWrapper aside.postAside .eventDetails a.addToCalender {
      font-size: 18px;
      font-family: "league-gothic", sans-serif;
      letter-spacing: 1px;
      text-transform: uppercase;
      border-radius: 0;
      padding: 5px 10px;
      background-color: #50287d;
      color: #fff; }
      .pageWrapper aside.postAside .eventDetails a.button:hover, .pageWrapper aside.postAside .eventDetails a.addToCalender:hover {
        text-decoration: none;
        background-color: #44226a; }
  .pageWrapper.newsListingPage .associatedMostRead, .pageWrapper.newsPostPage .associatedMostRead {
    display: none; }
  .pageWrapper.blogListingPage aside.blogDetails {
    display: none; }
  .pageWrapper.blogPostPage aside.blogDetails {
    display: none;
    margin-bottom: 0;
    min-height: 90px;
    text-align: right; }
  .pageWrapper.blogPostPage .associatedMostRead {
    display: none; }
  .pageWrapper .listing .contentBlockWrapper {
    max-width: 1140px; }
    .pageWrapper .listing .contentBlockWrapper .listContent .listedPost {
      border-radius: 0; }
      .pageWrapper .listing .contentBlockWrapper .listContent .listedPost img {
        border-top-left-radius: 0;
        border-top-right-radius: 0; }
      .pageWrapper .listing .contentBlockWrapper .listContent .listedPost h2 {
        margin-top: 24px;
        margin-bottom: 15px; }
        .pageWrapper .listing .contentBlockWrapper .listContent .listedPost h2 a:hover {
          text-decoration: none; }
  .pageWrapper.faqListingPage article {
    background-color: #fff;
    border-bottom: 1px solid #fff;
    border-left: 1px solid #ededed;
    border-right: 1px solid #ededed;
    padding: 0; }
    .pageWrapper.faqListingPage article header {
      margin-top: 0;
      background-color: #ededed;
      padding: 15px; }
    .pageWrapper.faqListingPage article .accordianBody {
      padding: 15px; }
      .pageWrapper.faqListingPage article .accordianBody footer {
        display: none; }
  .pageWrapper .pageContent table, .pageWrapper .postContent table {
    border: 1px solid #ededed; }
    .pageWrapper .pageContent table thead, .pageWrapper .postContent table thead {
      background-color: transparent;
      font-family: "league-gothic", sans-serif;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #50287d;
      border-top: 1px solid #ededed;
      border-bottom: 1px solid #ededed;
      text-align: left; }
    .pageWrapper .pageContent table tbody, .pageWrapper .postContent table tbody {
      background-color: transparent; }
      .pageWrapper .pageContent table tbody td, .pageWrapper .postContent table tbody td {
        padding: 10px 0; }
  .pageWrapper .eventContent .ticketsWrapper, .pageWrapper .eventContent .extrasWrapper, .pageWrapper .eventContent .eventSecondStepWrapper, .pageWrapper .eventContent .eventThirdStepWrapper {
    background-color: #fff;
    border: 1px solid #ededed;
    padding: 15px; }
    .pageWrapper .eventContent .ticketsWrapper h2, .pageWrapper .eventContent .ticketsWrapper legend, .pageWrapper .eventContent .extrasWrapper h2, .pageWrapper .eventContent .extrasWrapper legend, .pageWrapper .eventContent .eventSecondStepWrapper h2, .pageWrapper .eventContent .eventSecondStepWrapper legend, .pageWrapper .eventContent .eventThirdStepWrapper h2, .pageWrapper .eventContent .eventThirdStepWrapper legend {
      font-family: "league-gothic", sans-serif;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #50287d;
      font-style: normal;
      margin-top: 0;
      margin-bottom: 15px; }
    .pageWrapper .eventContent .ticketsWrapper table, .pageWrapper .eventContent .extrasWrapper table, .pageWrapper .eventContent .eventSecondStepWrapper table, .pageWrapper .eventContent .eventThirdStepWrapper table {
      margin-top: 0;
      border: 0; }
      .pageWrapper .eventContent .ticketsWrapper table thead, .pageWrapper .eventContent .extrasWrapper table thead, .pageWrapper .eventContent .eventSecondStepWrapper table thead, .pageWrapper .eventContent .eventThirdStepWrapper table thead {
        background-color: transparent;
        font-family: "league-gothic", sans-serif;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #50287d;
        border-top: 1px solid #ededed;
        border-bottom: 1px solid #ededed; }
      .pageWrapper .eventContent .ticketsWrapper table tbody, .pageWrapper .eventContent .extrasWrapper table tbody, .pageWrapper .eventContent .eventSecondStepWrapper table tbody, .pageWrapper .eventContent .eventThirdStepWrapper table tbody {
        background-color: transparent; }
        .pageWrapper .eventContent .ticketsWrapper table tbody td, .pageWrapper .eventContent .extrasWrapper table tbody td, .pageWrapper .eventContent .eventSecondStepWrapper table tbody td, .pageWrapper .eventContent .eventThirdStepWrapper table tbody td {
          padding: 10px 0; }
        .pageWrapper .eventContent .ticketsWrapper table tbody h3, .pageWrapper .eventContent .extrasWrapper table tbody h3, .pageWrapper .eventContent .eventSecondStepWrapper table tbody h3, .pageWrapper .eventContent .eventThirdStepWrapper table tbody h3 {
          margin-top: 0; }
        .pageWrapper .eventContent .ticketsWrapper table tbody a, .pageWrapper .eventContent .extrasWrapper table tbody a, .pageWrapper .eventContent .eventSecondStepWrapper table tbody a, .pageWrapper .eventContent .eventThirdStepWrapper table tbody a {
          text-decoration: none;
          background-color: rgba(80, 40, 125, 0.7);
          color: #fff;
          vertical-align: middle; }
          .pageWrapper .eventContent .ticketsWrapper table tbody a:hover, .pageWrapper .eventContent .extrasWrapper table tbody a:hover, .pageWrapper .eventContent .eventSecondStepWrapper table tbody a:hover, .pageWrapper .eventContent .eventThirdStepWrapper table tbody a:hover {
            background-color: #50287d; }
        .pageWrapper .eventContent .ticketsWrapper table tbody input, .pageWrapper .eventContent .extrasWrapper table tbody input, .pageWrapper .eventContent .eventSecondStepWrapper table tbody input, .pageWrapper .eventContent .eventThirdStepWrapper table tbody input {
          margin-top: 0; }
    .pageWrapper .eventContent .ticketsWrapper .formButtons, .pageWrapper .eventContent .extrasWrapper .formButtons, .pageWrapper .eventContent .eventSecondStepWrapper .formButtons, .pageWrapper .eventContent .eventThirdStepWrapper .formButtons {
      text-align: center; }
    .pageWrapper .eventContent .ticketsWrapper button, .pageWrapper .eventContent .extrasWrapper button, .pageWrapper .eventContent .eventSecondStepWrapper button, .pageWrapper .eventContent .eventThirdStepWrapper button {
      font-family: "league-gothic", sans-serif;
      letter-spacing: 1px;
      text-transform: uppercase;
      border-radius: 0;
      font-size: 24px;
      text-decoration: none;
      padding: 5px 10px; }
  .pageWrapper .eventContent .extrasWrapper, .pageWrapper .eventContent .eventSecondStepWrapper {
    border-bottom: 0; }
  .pageWrapper .eventContent .eventBooking {
    text-align: center; }
    .pageWrapper .eventContent .eventBooking a {
      font-family: "league-gothic", sans-serif;
      letter-spacing: 1px;
      text-transform: uppercase;
      border-radius: 0;
      font-size: 24px;
      text-decoration: none;
      padding: 5px 10px; }
  .pageWrapper .eventContent .postFooter p {
    display: none; }
  .pageWrapper .postFooterWrapper .shareWrapper strong {
    margin-bottom: 0; }

/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */

/*# sourceMappingURL=style.css.map */
