//carousel
section.carousel{
	padding: 0;
	max-width: none;
	li.carouselSlide{
		a.carouselSlideTitle{
			img{
			}
		}
	}
	.carouselDetailWrapper{
		left: 0;
		right: 0;
		margin: 0 auto;
		width: 100%;
		max-width: 1180px;
		padding: 0 15px;
		background-image: none;
		@media only screen and (max-width : 1000px) {
			background-color: $purple;
		}
		.carouselSlideDetail{
			margin: 60px 0 0 0;
			padding: 30px;
			width: 400px;
			background-color: rgba($purple, 0.85);
			h2.carouselSlideHeading, .carouselSlideSummary{
				font-family: $main-font;
			}
			@media only screen and (max-width : 1000px) {
				background-color: transparent;
				width: 100%;
				margin-top: 0;
				text-align: center;
				padding-bottom: 60px;
			}
			@media only screen and (max-width : 480px) {
				padding: 15px 15px 60px 15px;
				h2.carouselSlideHeading{
					font-size: 24px;
					margin-bottom: 0;
				}
				.carouselSlideSummary{
					font-size: 16px;
				}
			}
		}
	}
	.carouselButtons{
		li.activeSlide{
		}
		li{
			a.button.carouselButton{
				&:hover{
				}
			}
		}
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
	}
}

.homepage section.carousel{
	padding: 0;
	max-width: none;	
}