//carousel
section.carousel{
	padding: 0;
	max-width: none;
	height: 500px;
	li.carouselSlide{
		max-height: none;	
		a.carouselSlideTitle{
			height: 500px;
			display: block;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: top center;
			img{
				display: none;
			}
		}
	}
	img{
		border-radius: 0;
	}
	@media only screen and (max-width : 1000px) {
		height: auto;
		li.carouselSlide a.carouselSlideTitle{
			height: 300px;
		}
	}
	@media only screen and (max-width : 480px) {
		li.carouselSlide a.carouselSlideTitle{
			height: 200px;
		}
	}
	.carouselDetailWrapper{
		left: 0;
		right: 0;
		margin: 0 auto;
		width: 100%;
		max-width: 1170px;
		padding: 0 15px;
		background-image: none;
		@media only screen and (max-width : 1000px) {
			background-color: $blue;
		}
		.carouselSlideDetail{
			padding: 30px;
			width: 400px;
			background-color: rgba($blue, 0.85);
			margin: 60px 0 0 0;
			h2.carouselSlideHeading, .carouselSlideSummary{
				font-family: $main-font;
			}
			@media only screen and (max-width: 1300px){
				margin-left: 60px;
			}
			@media only screen and (max-width: 1200px){
				margin-left: 100px;
			}
			@media only screen and (max-width : 1000px) {
				margin-left: 0;
				background-color: transparent;
				width: 100%;
				margin-top: 0;
				text-align: center;
				padding-bottom: 60px;
				margin: 0;
				padding: 15px 15px 60px 15px;
			}
			@media only screen and (max-width : 480px) {
				h2.carouselSlideHeading{
					font-size: 24px;
					margin-bottom: 0;
				}
				.carouselSlideSummary{
					font-size: 16px;
				}
			}
		}
	}
	.carouselButtons{
		position: absolute;
		margin-top: 0;
		bottom: 0;
		li.activeSlide{
		}
		li{
			a.button.carouselButton{
				&:hover{
				}
			}
		}
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
	}
	.carouselControls{
		display: block;
		position: absolute;
		top: 275px;
		width: 100%;
		li{
			a{
				width: 50px;
				height: 50px;
				border: 2px solid #fff;
				display: block;
				color: transparent;
				float: left;
				&:hover{
					background-color: rgba(#fff,0.4);
				}
				&:before{
					color: #fff;
					position: absolute;
					top: 0;
					left: 0;
					width: 46px;
					height: 46px;
					display: block;
					text-align: center;
					line-height: 46px;
					font-family: 'FontAwesome';
				}
				&.carouselControlNext{
					float: right;
					&:before{
						content: '\f105';
					}
				}
				&.carouselControlPrev:before{
					content: '\f104';
				}
			}
		}
		@media only screen and (max-width : 1000px) {
			top: 150px;
		}
		@media only screen and (max-width : 480px) {
			top: 100px;
		}
	}
}

.homepage section.carousel{
	padding: 0;
	max-width: none;	
}