h1,h2,h3,h4,h5{
	font-family: $main-font;
	font-weight: 700;
	font-style: normal;
	&.feedTitle{
		font-weight: 700;
	}
}

button, #totaliserActions .buttonDonate, #totaliserActions .donateBtn, .appealActions .donateBtn:link, .appealActions .donateBtn:visited, .appealActions .donateBtn:active, button#btnSignIn, .groupSignUpBtn, a.button.donate{
	border-radius: 0;
	background-color: $purple;
	color: #fff;
	font-size: 16px;
	padding: 6px 15px;
	font-family: $main-font;
	&:hover{
		background-color: darken($purple, 5%);
	}
}