h1, h2, h3, h4, h5 {
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  font-style: normal; }
  h1.feedTitle, h2.feedTitle, h3.feedTitle, h4.feedTitle, h5.feedTitle {
    font-weight: 700; }
  h1.title, h2.title, h3.title, h4.title, h5.title {
    color: #333; }

h1 {
  font-size: 24px; }
  h1.title {
    font-size: 36px; }

button, #totaliserActions .buttonDonate, #totaliserActions .donateBtn, .appealActions .donateBtn:link, .appealActions .donateBtn:visited, .appealActions .donateBtn:active, button#btnSignIn, .groupSignUpBtn, a.button.donate,
.commentAddImage, .button, a.button:link, a.button:visited, a.button:active, #totaliserActions .buttonDonate, #totaliserActions .buttonFundraise, .listedFilters a.filter:link, .listedFilters a.filter:visited, .listedFilters a.filter:active, .searchListingPage .searchContainer button, .appliedFilters .filter, .associatedReadMore a, .associatedReadMore a:link, .associatedReadMore a:visited, .associatedReadMore a:active {
  border-radius: 0;
  background-color: #820551;
  color: #fff;
  font-size: 16px;
  padding: 5px 15px;
  font-family: "Noto Sans", sans-serif; }
  button:hover, #totaliserActions .buttonDonate:hover, #totaliserActions .donateBtn:hover, .appealActions .donateBtn:link:hover, .appealActions .donateBtn:visited:hover, .appealActions .donateBtn:active:hover, button#btnSignIn:hover, .groupSignUpBtn:hover, a.button.donate:hover,
  .commentAddImage:hover, .button:hover, a.button:link:hover, a.button:visited:hover, a.button:active:hover, #totaliserActions .buttonDonate:hover, #totaliserActions .buttonFundraise:hover, .listedFilters a.filter:link:hover, .listedFilters a.filter:visited:hover, .listedFilters a.filter:active:hover, .searchListingPage .searchContainer button:hover, .appliedFilters .filter:hover, .associatedReadMore a:hover, .associatedReadMore a:link:hover, .associatedReadMore a:visited:hover, .associatedReadMore a:active:hover {
    background-color: #690442; }

header {
  position: relative;
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px; }
  header.headerWrapper {
    max-width: 100%;
    padding: 0; }

.content.headerContent {
  background-color: #fff;
  position: relative; }
  .content.headerContent .mainLogo {
    background-image: url("http://plunkett.ritdns.co.uk/Handlers/GetImage.ashx?IDMF=21b6f80c-ac51-47b2-8ab7-3fb64721e79a&w=300&h=223\a");
    width: 170px;
    height: 125px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 15px 0 0 0; }
    @media screen and (max-width: 768px) {
      .content.headerContent .mainLogo {
        margin-top: 0; } }
  .content.headerContent .mainCallToAction {
    margin: 0;
    float: right;
    margin: 15px 15px 0 0; }
    .content.headerContent .mainCallToAction ul.socialIcons {
      text-align: center; }
      .content.headerContent .mainCallToAction ul.socialIcons li {
        margin: 0 5px 0 0; }
        .content.headerContent .mainCallToAction ul.socialIcons li a {
          margin: 0;
          border: 0;
          line-height: 30px; }
          .content.headerContent .mainCallToAction ul.socialIcons li a:before {
            color: #fff;
            padding: 0; }
          .content.headerContent .mainCallToAction ul.socialIcons li a.twitter {
            background-color: #55acee; }
          .content.headerContent .mainCallToAction ul.socialIcons li a.facebook {
            background-color: #3b5998; }
  .content.headerContent form {
    clear: none;
    float: right;
    position: initial;
    right: auto; }
  .content.headerContent .searchContainer {
    margin: 15px 15px 0 0; }
    .content.headerContent .searchContainer #siteSearch {
      background-color: #f0f0f0;
      color: #333;
      height: auto;
      padding: 7px;
      font-size: 14px; }
    .content.headerContent .searchContainer button {
      margin: 0 10px 0 0;
      top: 3px; }

.menuAdminContainer {
  background-color: #820551;
  float: right;
  width: auto;
  z-index: 3;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  height: auto; }
  .menuAdminContainer ul#menuAdmin {
    text-align: center;
    padding: 0 10px 12px 10px; }
    .menuAdminContainer ul#menuAdmin li {
      display: inline-block;
      padding: 15px 0 0 0; }
      .menuAdminContainer ul#menuAdmin li a {
        color: #fff;
        border-left: 1px solid white;
        padding: 0 7px;
        margin: 0;
        font-size: 12px; }
      .menuAdminContainer ul#menuAdmin li:first-child a {
        border-left: 0; }
      .menuAdminContainer ul#menuAdmin li.menuAdminRegister {
        display: inline-block; }
      .menuAdminContainer ul#menuAdmin li.menuAdminBasket {
        display: none; }

footer.pageFooterWrapper {
  padding: 0;
  background-color: #766068;
  margin-top: 60px; }
  footer.pageFooterWrapper .newsletter-container {
    padding: 60px 0;
    background-color: #ededed;
    width: 100%; }
    footer.pageFooterWrapper .newsletter-container .NewsletterSign-up {
      width: 100%;
      max-width: 1170px;
      padding: 0;
      margin: 0 auto;
      float: none; }
      footer.pageFooterWrapper .newsletter-container .NewsletterSign-up h1 {
        text-align: center;
        font-weight: bold;
        color: #766068;
        margin-bottom: 10px; }
      footer.pageFooterWrapper .newsletter-container .NewsletterSign-up .featureForm {
        overflow: auto; }
      footer.pageFooterWrapper .newsletter-container .NewsletterSign-up .formQuestion {
        margin-top: 0;
        width: 25%;
        float: left;
        padding: 0 15px; }
        footer.pageFooterWrapper .newsletter-container .NewsletterSign-up .formQuestion input {
          background: #fff;
          border-radius: 0;
          border: 0; }
        footer.pageFooterWrapper .newsletter-container .NewsletterSign-up .formQuestion button {
          margin-top: 24px;
          width: 100%; }
    @media screen and (max-width: 480px) {
      footer.pageFooterWrapper .newsletter-container {
        padding: 30px 0; }
        footer.pageFooterWrapper .newsletter-container .NewsletterSign-up .formQuestion {
          width: 100%;
          margin-bottom: 10px;
          text-align: center; }
          footer.pageFooterWrapper .newsletter-container .NewsletterSign-up .formQuestion input {
            margin-top: 0; }
          footer.pageFooterWrapper .newsletter-container .NewsletterSign-up .formQuestion button {
            margin-top: 0; } }
  footer.pageFooterWrapper .pageFooter {
    max-width: 1170px;
    border-top: 0;
    padding: 60px 15px;
    margin: 0 auto; }
    footer.pageFooterWrapper .pageFooter .footerBox {
      width: 33.33333%;
      padding: 0 15px;
      margin: 0;
      float: left;
      clear: none;
      border-top: 0;
      text-align: left; }
      footer.pageFooterWrapper .pageFooter .footerBox ul li a, footer.pageFooterWrapper .pageFooter .footerBox p {
        color: #fff;
        font-size: 16px; }
      footer.pageFooterWrapper .pageFooter .footerBox ul {
        margin-bottom: 0;
        margin-top: 0; }
        footer.pageFooterWrapper .pageFooter .footerBox ul li {
          padding: 0;
          margin: 0; }
          footer.pageFooterWrapper .pageFooter .footerBox ul li a {
            line-height: 36px;
            font-weight: 700;
            margin-right: 10px; }
        footer.pageFooterWrapper .pageFooter .footerBox ul.socialIcons li a {
          background-color: transparent;
          border-color: rgba(255, 255, 255, 0.4);
          margin: 0 10px 0 0;
          line-height: 26px; }
          footer.pageFooterWrapper .pageFooter .footerBox ul.socialIcons li a:hover {
            background-color: rgba(255, 255, 255, 0.4); }
          footer.pageFooterWrapper .pageFooter .footerBox ul.socialIcons li a:before {
            color: #fff;
            padding: 0; }
      @media only screen and (max-width: 768px) {
        footer.pageFooterWrapper .pageFooter .footerBox {
          width: 100%;
          padding: 0;
          text-align: center; }
          footer.pageFooterWrapper .pageFooter .footerBox.footerBox4 {
            margin-top: 15px; } }
    @media only screen and (max-width: 480px) {
      footer.pageFooterWrapper .pageFooter {
        padding-top: 30px; } }
  @media only screen and (max-width: 480px) {
    footer.pageFooterWrapper {
      margin-top: 30px; } }

nav#menuMain {
  background-color: #fff;
  max-width: none;
  width: auto;
  position: absolute;
  bottom: 0;
  right: 15px; }
  nav#menuMain ul {
    text-align: right; }
    nav#menuMain ul li {
      padding: 5px 10px 0 10px; }
      nav#menuMain ul li:hover > a {
        background-color: #fff; }
      nav#menuMain ul li a {
        color: #766068;
        border-bottom: 2px solid #fff;
        padding: 0;
        font-weight: 700;
        font-size: 16px; }
        nav#menuMain ul li a:hover, nav#menuMain ul li a.active {
          background-color: #fff;
          border-bottom-color: #766068; }
        @media screen and (max-width: 1000px) {
          nav#menuMain ul li a {
            font-size: 14px; } }
      nav#menuMain ul li ul {
        background-color: rgba(255, 255, 255, 0.9);
        padding-top: 15px;
        padding-bottom: 15px;
        border-bottom-left-radius: 40px;
        border-bottom-right-radius: 40px;
        margin-left: -15px;
        box-shadow: none; }
        nav#menuMain ul li ul li {
          background-color: transparent;
          padding: 5px 20px; }
          nav#menuMain ul li ul li:hover > a {
            background-color: transparent; }
          nav#menuMain ul li ul li a {
            border-bottom-color: transparent; }
            nav#menuMain ul li ul li a:hover {
              background-color: transparent;
              border-bottom-color: #766068; }

@media screen and (max-width: 768px) {
  a.menuMainAlt {
    background-color: #f0f0f0;
    color: #666;
    font-weight: 700;
    text-transform: uppercase;
    width: auto;
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 10px;
    border: 1px solid #e5e5e5; }
    a.menuMainAlt:hover {
      text-decoration: none; }

  nav#menuMain {
    bottom: auto;
    top: 37px;
    z-index: 10;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }
    nav#menuMain ul li {
      padding: 0; }
      nav#menuMain ul li.mobile-search .searchContainer {
        padding: 0;
        margin: 0; }
        nav#menuMain ul li.mobile-search .searchContainer #siteSearch {
          background-color: #766068;
          padding: 5px 30px 5px 15px;
          color: #fff; }
          nav#menuMain ul li.mobile-search .searchContainer #siteSearch::-webkit-input-placeholder, nav#menuMain ul li.mobile-search .searchContainer #siteSearch:-moz-placeholder, nav#menuMain ul li.mobile-search .searchContainer #siteSearch::-moz-placeholder, nav#menuMain ul li.mobile-search .searchContainer #siteSearch:-ms-input-placeholder {
            color: #fff; }
        nav#menuMain ul li.mobile-search .searchContainer button {
          top: 7px;
          margin: 0; }
          nav#menuMain ul li.mobile-search .searchContainer button:before {
            color: #fff; }
      nav#menuMain ul li .mainCallToAction {
        margin: 0; }
        nav#menuMain ul li .mainCallToAction ul {
          margin: 10px 0;
          text-align: center; }
          nav#menuMain ul li .mainCallToAction ul li {
            padding: 0;
            margin: 0;
            text-align: center; }
            nav#menuMain ul li .mainCallToAction ul li a {
              margin: 0 5px;
              padding: 0;
              border-bottom: 0; }
              nav#menuMain ul li .mainCallToAction ul li a:before {
                color: #fff; }
              nav#menuMain ul li .mainCallToAction ul li a.twitter {
                background-color: #55acee; }
              nav#menuMain ul li .mainCallToAction ul li a.facebook {
                background-color: #3A5795; }
      nav#menuMain ul li a {
        padding: 10px 15px;
        border-bottom: 1px solid rgba(118, 96, 104, 0.3); }
        nav#menuMain ul li a:hover, nav#menuMain ul li a.active {
          background-color: rgba(118, 96, 104, 0.2);
          border-bottom-color: rgba(118, 96, 104, 0.3); }
        nav#menuMain ul li a:after {
          font-size: 1em;
          padding: 0;
          right: 20px;
          top: 10px; }
      nav#menuMain ul li > ul {
        padding: 0;
        margin: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0; }
        nav#menuMain ul li > ul li {
          padding: 0; }
          nav#menuMain ul li > ul li a {
            background-color: rgba(118, 96, 104, 0.05);
            border-bottom: 0; }
            nav#menuMain ul li > ul li a:hover {
              background-color: rgba(118, 96, 104, 0.2); } }
nav {
  margin-top: 30px; }
  nav ol.breadcrumbList li.breadcrumbItem {
    margin-right: 0;
    background-color: #ededed;
    padding: 5px 0 5px 15px;
    position: relative;
    color: #52924d; }
    nav ol.breadcrumbList li.breadcrumbItem:last-child {
      padding-right: 15px; }
    nav ol.breadcrumbList li.breadcrumbItem:before {
      font-family: 'FontAwesome';
      content: '\f105';
      color: #52924d; }
    nav ol.breadcrumbList li.breadcrumbItem:first-child:before {
      display: none; }
    nav ol.breadcrumbList li.breadcrumbItem a {
      font-family: "Noto Sans", sans-serif; }

section.carousel {
  padding: 0;
  max-width: none;
  height: 500px; }
  section.carousel li.carouselSlide {
    max-height: none;
    height: 500px;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center; }
    section.carousel li.carouselSlide img {
      display: none; }
    section.carousel li.carouselSlide a.carouselSlideTitle {
      height: 500px;
      display: block;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top center; }
  section.carousel img {
    border-radius: 0; }
  @media only screen and (max-width: 1000px) {
    section.carousel {
      height: auto; }
      section.carousel li.carouselSlide, section.carousel li.carouselSlide a.carouselSlideTitle {
        height: 300px; } }
  @media only screen and (max-width: 480px) {
    section.carousel li.carouselSlide, section.carousel li.carouselSlide a.carouselSlideTitle {
      height: 200px; } }
  section.carousel .carouselDetailWrapper {
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    max-width: 1170px;
    padding: 0 15px;
    background-image: none; }
    @media only screen and (max-width: 1000px) {
      section.carousel .carouselDetailWrapper {
        background-color: #63a2bc; } }
    section.carousel .carouselDetailWrapper .carouselSlideDetail {
      padding: 30px;
      width: 400px;
      background-color: rgba(99, 162, 188, 0.85);
      margin: 60px 0 0 0; }
      section.carousel .carouselDetailWrapper .carouselSlideDetail h2.carouselSlideHeading, section.carousel .carouselDetailWrapper .carouselSlideDetail .carouselSlideSummary {
        font-family: "Noto Sans", sans-serif; }
      section.carousel .carouselDetailWrapper .carouselSlideDetail h2.carouselSlideHeading {
        font-size: 24px; }
      section.carousel .carouselDetailWrapper .carouselSlideDetail .carouselSlideSummary {
        font-size: 16px; }
      section.carousel .carouselDetailWrapper .carouselSlideDetail #totaliserActions a {
        background-color: #fff;
        color: #777; }
      @media only screen and (max-width: 1300px) {
        section.carousel .carouselDetailWrapper .carouselSlideDetail {
          margin-left: 60px; } }
      @media only screen and (max-width: 1200px) {
        section.carousel .carouselDetailWrapper .carouselSlideDetail {
          margin-left: 100px; } }
      @media only screen and (max-width: 1000px) {
        section.carousel .carouselDetailWrapper .carouselSlideDetail {
          margin-left: 0;
          background-color: transparent;
          width: 100%;
          margin-top: 0;
          text-align: center;
          padding-bottom: 60px;
          margin: 0;
          padding: 15px 15px 60px 15px; } }
      @media only screen and (max-width: 480px) {
        section.carousel .carouselDetailWrapper .carouselSlideDetail h2.carouselSlideHeading {
          font-size: 24px;
          margin-bottom: 0; }
        section.carousel .carouselDetailWrapper .carouselSlideDetail .carouselSlideSummary {
          font-size: 16px; } }
  section.carousel .carouselButtons {
    position: absolute;
    margin-top: 0;
    bottom: 0;
    background-color: transparent;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto; }
    section.carousel .carouselButtons li {
      background-color: rgba(99, 162, 188, 0.85);
      margin: 0; }
      section.carousel .carouselButtons li.activeSlide, section.carousel .carouselButtons li a.button:hover, section.carousel .carouselButtons li a.button:focus, section.carousel .carouselButtons li a.button:active {
        background-color: #63a2bc; }
  section.carousel .carouselControls {
    display: block;
    position: absolute;
    top: 275px;
    width: 100%; }
    section.carousel .carouselControls li a {
      width: 50px;
      height: 50px;
      border: 2px solid #fff;
      display: block;
      color: transparent;
      float: left; }
      section.carousel .carouselControls li a:hover {
        background-color: rgba(255, 255, 255, 0.4); }
      section.carousel .carouselControls li a:before {
        color: #fff;
        position: absolute;
        top: 0;
        left: 0;
        width: 46px;
        height: 46px;
        display: block;
        text-align: center;
        line-height: 46px;
        font-family: 'FontAwesome'; }
      section.carousel .carouselControls li a.carouselControlNext {
        float: right; }
        section.carousel .carouselControls li a.carouselControlNext:before {
          content: '\f105'; }
      section.carousel .carouselControls li a.carouselControlPrev:before {
        content: '\f104'; }
    @media only screen and (max-width: 1000px) {
      section.carousel .carouselControls {
        top: 150px; } }
    @media only screen and (max-width: 480px) {
      section.carousel .carouselControls {
        top: 100px; } }

.homepage section.carousel {
  padding: 0;
  max-width: none; }

.homeFeedsWrapper .homeFeed {
  width: 50%;
  padding: 0 90px;
  margin: 0; }
  .homeFeedsWrapper .homeFeed h3 {
    background-color: #766068;
    border-radius: 0; }
  .homeFeedsWrapper .homeFeed ul.feedList {
    background-color: #ededed;
    padding: 0;
    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 60px;
    min-height: inherit; }
    .homeFeedsWrapper .homeFeed ul.feedList li {
      margin-top: 0; }
      .homeFeedsWrapper .homeFeed ul.feedList li img {
        margin: 0 0 30px;
        width: 100%;
        height: auto; }
      .homeFeedsWrapper .homeFeed ul.feedList li h3 {
        padding: 0 30px;
        background-color: transparent; }
        .homeFeedsWrapper .homeFeed ul.feedList li h3 a {
          color: #820551; }
          .homeFeedsWrapper .homeFeed ul.feedList li h3 a:hover {
            text-decoration: underline; }
      .homeFeedsWrapper .homeFeed ul.feedList li p {
        width: 100%;
        padding: 0 30px;
        font-family: Arial, sans-serif; }
        .homeFeedsWrapper .homeFeed ul.feedList li p span.readMore {
          display: block;
          background-color: #820551;
          color: #fff;
          padding: 10px 15px;
          width: 120px;
          text-align: center;
          font-size: 14px;
          margin: 15px auto 30px auto; }
          .homeFeedsWrapper .homeFeed ul.feedList li p span.readMore:hover {
            background-color: #690442; }
  @media only screen and (max-width: 1000px) {
    .homeFeedsWrapper .homeFeed {
      padding-left: 15px;
      padding-right: 15px; } }
  @media only screen and (max-width: 768px) {
    .homeFeedsWrapper .homeFeed {
      clear: none;
      float: left; } }
  @media only screen and (max-width: 480px) {
    .homeFeedsWrapper .homeFeed {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 15px; } }

.homeFeaturesWrapper .homeFeatures .feature-wrapper {
  width: 50%;
  padding: 30px;
  float: left; }
  @media only screen and (max-width: 1000px) {
    .homeFeaturesWrapper .homeFeatures .feature-wrapper {
      padding: 15px; } }
  @media only screen and (max-width: 768px) {
    .homeFeaturesWrapper .homeFeatures .feature-wrapper {
      padding-left: 5px;
      padding-right: 5px; } }
  @media only screen and (max-width: 480px) {
    .homeFeaturesWrapper .homeFeatures .feature-wrapper {
      width: 100%;
      padding-left: 0;
      padding-right: 0; } }
.homeFeaturesWrapper .homeFeatures .homeFeature {
  width: 100%;
  padding: 0;
  position: relative;
  overflow: hidden;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover; }
  .homeFeaturesWrapper .homeFeatures .homeFeature.homeBox1 {
    border-top-left-radius: 100px; }
    .homeFeaturesWrapper .homeFeatures .homeFeature.homeBox1 .homeFeatureDetailsWrapper {
      background-color: rgba(82, 146, 77, 0.85); }
      .homeFeaturesWrapper .homeFeatures .homeFeature.homeBox1 .homeFeatureDetailsWrapper h2:after {
        content: '\f18e'; }
  .homeFeaturesWrapper .homeFeatures .homeFeature.homeBox2 .homeFeatureDetailsWrapper {
    background-color: rgba(130, 5, 81, 0.85); }
    .homeFeaturesWrapper .homeFeatures .homeFeature.homeBox2 .homeFeatureDetailsWrapper h2:after {
      content: '\f004'; }
  .homeFeaturesWrapper .homeFeatures .homeFeature.homeBox3 .homeFeatureDetailsWrapper {
    background-color: rgba(235, 188, 0, 0.85); }
    .homeFeaturesWrapper .homeFeatures .homeFeature.homeBox3 .homeFeatureDetailsWrapper h2:after {
      content: '\f007'; }
  .homeFeaturesWrapper .homeFeatures .homeFeature.homeBox4 {
    clear: none;
    border-bottom-right-radius: 100px; }
    .homeFeaturesWrapper .homeFeatures .homeFeature.homeBox4 .homeFeatureDetailsWrapper {
      background-color: rgba(99, 162, 188, 0.85);
      border-bottom-right-radius: 100px; }
      .homeFeaturesWrapper .homeFeatures .homeFeature.homeBox4 .homeFeatureDetailsWrapper h2:after {
        content: '\f055'; }
  .homeFeaturesWrapper .homeFeatures .homeFeature img {
    display: none; }
  .homeFeaturesWrapper .homeFeatures .homeFeature .homeFeatureDetailsWrapper {
    width: 100%;
    padding: 0;
    text-align: left;
    position: absolute;
    transition: all 0.4s ease 0.1s;
    bottom: 0; }
    .homeFeaturesWrapper .homeFeatures .homeFeature .homeFeatureDetailsWrapper h2 {
      transition: all 0.4s ease 0.1s;
      margin: 0;
      padding: 15px;
      position: relative; }
      .homeFeaturesWrapper .homeFeatures .homeFeature .homeFeatureDetailsWrapper h2:after {
        top: 15px;
        display: block;
        position: absolute;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        right: 90px;
        font-family: 'FontAwesome';
        font-size: 24px;
        font-size: 2.4rem;
        color: #fff; }
      .homeFeaturesWrapper .homeFeatures .homeFeature .homeFeatureDetailsWrapper h2 a {
        color: #fff; }
        .homeFeaturesWrapper .homeFeatures .homeFeature .homeFeatureDetailsWrapper h2 a:hover {
          text-decoration: none; }
    .homeFeaturesWrapper .homeFeatures .homeFeature .homeFeatureDetailsWrapper p {
      display: none; }
  .homeFeaturesWrapper .homeFeatures .homeFeature:hover {
    background-color: transparent;
    border: 0; }
    .homeFeaturesWrapper .homeFeatures .homeFeature:hover.homeBox1 .homeFeatureDetailsWrapper {
      background-color: #52924d; }
    .homeFeaturesWrapper .homeFeatures .homeFeature:hover.homeBox2 .homeFeatureDetailsWrapper {
      background-color: #820551; }
    .homeFeaturesWrapper .homeFeatures .homeFeature:hover.homeBox3 .homeFeatureDetailsWrapper {
      background-color: #ebbc00; }
    .homeFeaturesWrapper .homeFeatures .homeFeature:hover.homeBox4 .homeFeatureDetailsWrapper {
      background-color: #63a2bc; }
    .homeFeaturesWrapper .homeFeatures .homeFeature:hover .homeFeatureDetailsWrapper h2 {
      margin-top: 15px; }
  @media only screen and (max-width: 1000px) {
    .homeFeaturesWrapper .homeFeatures .homeFeature .homeFeatureDetailsWrapper h2:after {
      right: 50px; } }
  @media only screen and (max-width: 768px) {
    .homeFeaturesWrapper .homeFeatures .homeFeature {
      margin: 0;
      height: 200px; }
      .homeFeaturesWrapper .homeFeatures .homeFeature .homeFeatureDetailsWrapper h2 {
        margin-top: 0;
        font-size: 18px; }
        .homeFeaturesWrapper .homeFeatures .homeFeature .homeFeatureDetailsWrapper h2:after {
          display: none; }
      .homeFeaturesWrapper .homeFeatures .homeFeature:hover .homeFeatureDetailsWrapper h2 {
        margin-top: 0; } }

.homepage {
  font-family: "Noto Sans", sans-serif; }

.homeIntroWrapper .homeIntro {
  color: #766068;
  font-size: 48px;
  margin: 30px auto 15px auto;
  padding: 0;
  font-family: "Noto Sans", sans-serif; }
  @media only screen and (max-width: 768px) {
    .homeIntroWrapper .homeIntro {
      font-size: 36px; } }

.headerText, .contentBlockWrapper {
  padding: 0 15px;
  max-width: 1170px; }

aside.postAside {
  border: 1px solid #eee; }
  aside.postAside .associated {
    background-color: #fff;
    margin: 0 15px 45px 15px; }
    aside.postAside .associated ul {
      margin: 0;
      padding-bottom: 0; }
      aside.postAside .associated ul li {
        margin-top: 0;
        padding: 15px 5px 0 5px; }
        aside.postAside .associated ul li h3 {
          padding: 0;
          margin: 0;
          font-size: 14px;
          text-align: center; }
          aside.postAside .associated ul li h3 a:hover {
            text-decoration: underline; }
    aside.postAside .associated h2 {
      background-color: #fff;
      border-radius: 0;
      padding: 15px;
      border-bottom: 1px solid #ededed;
      text-align: center;
      font-weight: 400;
      color: #777;
      text-transform: uppercase; }
    aside.postAside .associated.associatedMostRead {
      display: none; }

.listing .listContent .listedPost {
  border-radius: 0;
  border: 1px solid #ededed;
  background-color: #fff; }
  .listing .listContent .listedPost:hover {
    background-color: #ededed; }
  .listing .listContent .listedPost img {
    border-top-left-radius: 0;
    border-top-right-radius: 0; }
  .listing .listContent .listedPost h2 {
    margin-top: 24px;
    margin-bottom: 15px;
    font-style: normal; }
    .listing .listContent .listedPost h2 a:hover {
      text-decoration: none; }

.pageContent table, .postContent table {
  border: 1px solid #ededed; }
  .pageContent table thead, .postContent table thead {
    background-color: transparent;
    font-family: "Noto Sans", sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #820551;
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    text-align: left; }
  .pageContent table tbody, .postContent table tbody {
    background-color: transparent; }
    .pageContent table tbody td, .postContent table tbody td {
      padding: 10px 0; }

footer .shareWrapper {
  margin: 60px 0;
  padding: 15px 0;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  text-align: center; }
  footer .shareWrapper strong {
    margin-bottom: 0;
    text-transform: uppercase;
    font-style: normal;
    font-family: "Noto Sans", sans-serif;
    font-size: 22px;
    color: #777; }
  footer .shareWrapper ul li {
    height: 33px; }

.postComments {
  border: 1px solid #ededed;
  padding: 30px; }
  .postComments header {
    padding: 0 0 30px 0;
    margin: 0;
    border-bottom: 1px solid #ededed; }
    .postComments header h3 {
      margin: 0;
      font-size: 22px;
      color: #777;
      text-transform: uppercase; }
  .postComments .commentForm {
    margin-top: 0; }
    .postComments .commentForm label {
      color: #777;
      font-size: 16px; }
    .postComments .commentForm textarea, .postComments .commentForm input {
      border: 0;
      border-radius: 0;
      font-family: "Noto Sans", sans-serif; }
      .postComments .commentForm textarea[type="checkbox"]#notifyComments, .postComments .commentForm input[type="checkbox"]#notifyComments {
        margin: 5px 5px 0 0; }
    .postComments .commentForm button {
      margin: 15px auto 0 auto;
      display: block; }
    .postComments .commentForm .commentAddImage {
      background-color: #ededed !important;
      padding: 5px 15px !important;
      color: #333 !important; }
    .postComments .commentForm .commentsList {
      margin: 0;
      padding: 0; }
      .postComments .commentForm .commentsList li {
        margin-top: 30px;
        margin-bottom: 30px;
        padding-bottom: 30px;
        border-bottom: 1px solid #ededed; }
      .postComments .commentForm .commentsList .commentContentWrapper {
        float: right;
        width: 83%; }
        .postComments .commentForm .commentsList .commentContentWrapper footer {
          text-align: center; }
          .postComments .commentForm .commentsList .commentContentWrapper footer p {
            display: inline;
            font-size: 12px;
            color: #777;
            font-family: "Noto Sans", sans-serif; }
            .postComments .commentForm .commentsList .commentContentWrapper footer p strong {
              font-weight: 400; }
            .postComments .commentForm .commentsList .commentContentWrapper footer p.commentDate {
              margin-left: 15px; }
          .postComments .commentForm .commentsList .commentContentWrapper footer .helpfulComment, .postComments .commentForm .commentsList .commentContentWrapper footer .commentHelpfulness {
            display: none; }

.appealListingPage .listing .listContent .listedPost:hover {
  background-color: #fff; }
.appealListingPage .tabsWrapper {
  border-bottom: 0; }
.appealListingPage .tabs {
  width: 1170px;
  padding: 0; }
  .appealListingPage .tabs li.tab a {
    border-left: 1px solid #ededed;
    border-right: 1px solid #ededed;
    border-top: 1px solid #ededed;
    border-radius: 0;
    color: #777;
    background-color: #f4f4f4; }
  .appealListingPage .tabs li.tab.active a, .appealListingPage .tabs li.tab:hover a {
    background-color: #fff; }
.appealListingPage .tabbedListing {
  background-color: #fff;
  border: 1px solid #ededed;
  padding: 30px 0;
  margin: 0 auto; }
.appealListingPage .currentProjectsListWrapper {
  margin-top: 0; }
.appealListingPage .listedPost {
  text-align: center; }
  .appealListingPage .listedPost img {
    margin: 0; }
  .appealListingPage .listedPost .totaliserFigure, .appealListingPage .listedPost .totaliserLabel {
    text-align: center; }
.appealListingPage aside.appealFeedsWrapper {
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  border-left: 1px solid #ededed; }
.appealListingPage .findAFundraiserWidget {
  border: 0;
  padding: 0 0 0 30px; }
  .appealListingPage .findAFundraiserWidget h3 {
    font-size: 22px;
    font-weight: 400; }
    .appealListingPage .findAFundraiserWidget h3 a {
      display: inline; }
  .appealListingPage .findAFundraiserWidget ul {
    margin: 0; }
    .appealListingPage .findAFundraiserWidget ul li {
      margin: 5px 4px; }
  .appealListingPage .findAFundraiserWidget input {
    border: 0;
    border-radius: 0;
    background-color: #fff; }
  .appealListingPage .findAFundraiserWidget fieldset {
    margin-top: 0; }
.appealListingPage .fundraisersWrapper legend {
  border-bottom: 0; }
.appealListingPage .fundraisersWrapper input, .appealListingPage .fundraisersWrapper select {
  border-radius: 0;
  border: 0; }

.appealPostPage h1.title, .appealPostPage nav {
  width: 66%;
  float: left; }
.appealPostPage aside.postAside {
  border: 0; }
.appealPostPage .appealWidgets, .appealPostPage .appealTotaliser {
  background-color: #fff; }
.appealPostPage .findAFundraiserWidget {
  border-bottom: 0;
  border-right: 0;
  border-left: 0;
  border-top: 1px solid #ededed;
  padding: 30px 15px 15px 15px; }
  .appealPostPage .findAFundraiserWidget input {
    border: 0;
    border-radius: 0; }
.appealPostPage .topFundraisersWrapper {
  border: 1px solid #ededed;
  padding: 15px; }
  .appealPostPage .topFundraisersWrapper strong {
    text-transform: uppercase;
    font-size: 22px;
    text-align: center;
    display: block;
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
    color: #777;
    border-bottom: 1px solid #ededed;
    padding-bottom: 10px; }
  .appealPostPage .topFundraisersWrapper ol {
    padding: 0; }
    .appealPostPage .topFundraisersWrapper ol li {
      display: inline-block;
      width: 49.5%; }
.appealPostPage .appealInteractions .tabsWrapper {
  border-bottom: 0; }
  .appealPostPage .appealInteractions .tabsWrapper .tab a {
    border-radius: 0;
    background-color: #ededed;
    color: #777;
    border-top: 1px solid #ededed;
    border-right: 1px solid #ededed;
    border-left: 1px solid #ededed; }
  .appealPostPage .appealInteractions .tabsWrapper .tab.active a, .appealPostPage .appealInteractions .tabsWrapper .tab a:hover, .appealPostPage .appealInteractions .tabsWrapper .tab.active a:hover {
    background-color: #fff; }
.appealPostPage .appealInteractions section {
  background-color: #fff; }
  .appealPostPage .appealInteractions section#appealComments, .appealPostPage .appealInteractions section#appealFundraisers {
    border: 1px solid #ededed; }
  .appealPostPage .appealInteractions section .appealFundraisersHeader {
    padding: 30px; }
    .appealPostPage .appealInteractions section .appealFundraisersHeader .findAFundraiser {
      margin-top: 0;
      padding-bottom: 0; }
    .appealPostPage .appealInteractions section .appealFundraisersHeader legend {
      border-bottom: 0; }
    .appealPostPage .appealInteractions section .appealFundraisersHeader input, .appealPostPage .appealInteractions section .appealFundraisersHeader select {
      border: 0;
      border-radius: 0; }
  .appealPostPage .appealInteractions section .postComments {
    margin-top: 0;
    border: 0; }
    .appealPostPage .appealInteractions section .postComments header {
      border-bottom: 0;
      padding-bottom: 15px; }

.appealWidgets {
  border: 1px solid #ededed; }

.content.appealActions {
  width: 100%;
  margin: 30px 0 0 0;
  padding: 0 15px; }
  .content.appealActions a.button {
    display: block;
    width: 100%;
    font-size: 22px;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-bottom: 15px; }

.appealBody .pageFooterWrapper {
  margin-top: 0; }

.fundraiserPostPage .tabsWrapper {
  display: none; }
.fundraiserPostPage aside.postAside {
  border: 0; }
.fundraiserPostPage aside .appealWidgets {
  display: none; }
.fundraiserPostPage aside .appealTotaliser {
  background-color: #fff;
  margin-bottom: 30px;
  border: 1px solid #ededed; }
.fundraiserPostPage footer .fundraiserFooter {
  text-align: center; }
  .fundraiserPostPage footer .fundraiserFooter p {
    padding: 15px 30px;
    color: #777 !important;
    background-color: #ededed;
    display: inline-block; }

.fundraiserListingPage .listedPost {
  text-align: center; }
  .fundraiserListingPage .listedPost:hover {
    background-color: #fff !important; }
  .fundraiserListingPage .listedPost img {
    margin: 0; }
  .fundraiserListingPage .listedPost .totaliserFigure, .fundraiserListingPage .listedPost .totaliserLabel {
    text-align: center; }
.fundraiserListingPage .findAFundraiserWrapper, .fundraiserListingPage #top {
  max-width: 1170px;
  padding: 0 15px; }
  .fundraiserListingPage .findAFundraiserWrapper legend, .fundraiserListingPage #top legend {
    border-bottom: 0; }
  .fundraiserListingPage .findAFundraiserWrapper input, .fundraiserListingPage .findAFundraiserWrapper select, .fundraiserListingPage #top input, .fundraiserListingPage #top select {
    border: 0;
    border-radius: 0; }
.fundraiserListingPage aside {
  display: none; }
.fundraiserListingPage .fundraiserSearchResults {
  width: 100%;
  margin: 0; }

.blogPostPage .blogDetails {
  display: none; }

.newsListingPage .postAside {
  display: none; }
.newsListingPage .listContent {
  width: 100%;
  margin: 0; }

.eventListingPage .listContent {
  width: 100%;
  margin-right: 0; }
.eventListingPage aside {
  display: none; }

aside .eventDetails .eventWhereWrapper, aside .eventDetails .eventWhenWrapper {
  background-color: #fff;
  margin-top: 0; }
  aside .eventDetails .eventWhereWrapper p, aside .eventDetails .eventWhenWrapper p {
    margin: 0;
    padding: 15px; }
aside .eventDetails .eventWhenWrapper {
  padding: 15px; }
  aside .eventDetails .eventWhenWrapper p strong {
    font-weight: 700; }

.eventContent .eventBookingWrapper, .eventContent .ticketsWrapper, .eventContent .extrasWrapper, .eventContent .eventSecondStepWrapper, .eventContent .eventThirdStepWrapper {
  background-color: #fff;
  border: 1px solid #ededed;
  border-radius: 0;
  padding-right: 15px;
  padding-left: 15px; }
  .eventContent .eventBookingWrapper table, .eventContent .ticketsWrapper table, .eventContent .extrasWrapper table, .eventContent .eventSecondStepWrapper table, .eventContent .eventThirdStepWrapper table {
    margin-top: 15px;
    border: 0; }
    .eventContent .eventBookingWrapper table caption h2, .eventContent .ticketsWrapper table caption h2, .eventContent .extrasWrapper table caption h2, .eventContent .eventSecondStepWrapper table caption h2, .eventContent .eventThirdStepWrapper table caption h2 {
      color: #777;
      margin: 0 0 15px 0;
      text-transform: uppercase;
      text-align: center;
      font-size: 24px; }
    .eventContent .eventBookingWrapper table tr, .eventContent .ticketsWrapper table tr, .eventContent .extrasWrapper table tr, .eventContent .eventSecondStepWrapper table tr, .eventContent .eventThirdStepWrapper table tr {
      background-color: #fff;
      color: #777; }
      .eventContent .eventBookingWrapper table tr span, .eventContent .ticketsWrapper table tr span, .eventContent .extrasWrapper table tr span, .eventContent .eventSecondStepWrapper table tr span, .eventContent .eventThirdStepWrapper table tr span {
        color: #777; }
    .eventContent .eventBookingWrapper table a.buttonIcon, .eventContent .ticketsWrapper table a.buttonIcon, .eventContent .extrasWrapper table a.buttonIcon, .eventContent .eventSecondStepWrapper table a.buttonIcon, .eventContent .eventThirdStepWrapper table a.buttonIcon {
      background-color: #ededed;
      color: #777;
      vertical-align: middle; }
  .eventContent .eventBookingWrapper .formButtons, .eventContent .ticketsWrapper .formButtons, .eventContent .extrasWrapper .formButtons, .eventContent .eventSecondStepWrapper .formButtons, .eventContent .eventThirdStepWrapper .formButtons {
    margin-bottom: 20px;
    text-align: center; }
.eventContent .ticketsWrapper {
  border-bottom: 0; }
.eventContent .eventBookingWrapper {
  border-top: 0;
  padding: 0 15px;
  text-align: center; }
  .eventContent .eventBookingWrapper a {
    float: none;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 15px;
    margin-bottom: 30px; }
.eventContent .postFooterWrapper {
  display: none; }

.faqListingPage article {
  border: 1px solid #ededed;
  margin-bottom: 15px; }
  .faqListingPage article header {
    background-color: #fff;
    margin-top: 0;
    padding: 15px; }
    .faqListingPage article header a.buttonIcon {
      background-color: #ededed;
      color: #777; }
      .faqListingPage article header a.buttonIcon:hover {
        color: #fff;
        background-color: #777; }
  .faqListingPage article .accordianBody {
    background-color: #fff;
    padding: 15px;
    border-top: 1px solid #ededed; }
    .faqListingPage article .accordianBody footer.postFooterWrapper {
      display: none; }

/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */

/*# sourceMappingURL=style.css.map */
