//carousel
section.carousel{
	padding: 0;
	max-width: none;
	height: auto;
	margin-top: 15px;
	li.carouselSlide{
		max-height: none;
		min-height: 500px;
		background-position: center center;
		display: block;
		background-size: cover;
		background-repeat: no-repeat;
		img{
			display: none;
		}
		a img{
			display: none;
		}
		a.carouselSlideTitle{
			display: block;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: top center;
			cursor: default;
		}
	}
	img{
		border-radius: 0;
	}
	@media only screen and (max-width : 1000px) {
		height: auto;
		li.carouselSlide{
			height: auto;
			a.carouselSlideTitle{
				height: 400px;
			}
		}
	}
	@media only screen and (max-width : 480px) {
		li.carouselSlide a.carouselSlideTitle{
			height: 200px;
		}
	}
	.carouselDetailWrapper{
		display: none;
		// left: 0;
		// right: 0;
		// margin: 0 auto;
		// width: 100%;
		// max-width: 1170px;
		// padding: 0 15px;
		// background-image: none;
		// @media only screen and (max-width : 1000px) {
		// 	background-color: $blue;
		// }
		// .carouselSlideDetail{
		// 	padding: 30px;
		// 	width: 400px;
		// 	background-color: rgba($blue, 0.85);
		// 	margin: 60px 0 0 0;
		// 	h2.carouselSlideHeading, .carouselSlideSummary{
		// 		font-family: $main-font;
		// 	}
		// 	h2.carouselSlideHeading{
		// 		font-size: 24px;
		// 	}
		// 	.carouselSlideSummary{
		// 		font-size: 16px;
		// 	}
		// 	#totaliserActions{
		// 		a{
		// 			background-color: #fff;
		// 			color: #777;
		// 		}
		// 	}
		// 	@media only screen and (max-width: 1300px){
		// 		margin-left: 60px;
		// 	}
		// 	@media only screen and (max-width: 1200px){
		// 		margin-left: 100px;
		// 	}
		// 	@media only screen and (max-width : 1000px) {
		// 		margin-left: 0;
		// 		background-color: transparent;
		// 		width: 100%;
		// 		margin-top: 0;
		// 		text-align: center;
		// 		padding-bottom: 60px;
		// 		margin: 0;
		// 		padding: 15px;
		// 	}
		// 	@media only screen and (max-width : 480px) {
		// 		h2.carouselSlideHeading{
		// 			font-size: 24px;
		// 			margin-bottom: 0;
		// 		}
		// 		.carouselSlideSummary{
		// 			font-size: 16px;
		// 		}
		// 	}
		// }
	}
	.carouselButtons{
		position: absolute;
		margin-top: 0;
		bottom: 0;
		background-color: transparent;
		li{
			background-color: transparent;
			margin: 0;
			a.button.carouselButton{
				background-color: rgba(#fff,0.85);
				&:hover{
					background-color: #fff;
				}
			}
			&.activeSlide a.button.carouselButton, &:active a.button.carouselButton, &:focus a.button.carouselButton{
				background-color: #fff;
				&:hover{
					background-color: #fff;
				}
			}
		}
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
		@media only screen and (max-width : 1000px) {
			top: auto;
			margin-top: 0 !important;
		}
		@media only screen and (max-width : 480px) {
			top: 160px;
		}
	}
	.carouselControls{
		display: block;
		position: absolute;
		top: 250px;
		width: 100%;
		li{
			a{
				width: 80px;
				height: 200px;
				display: block;
				color: transparent;
				float: left;
				&:hover{
					background-color: transparent;
				}
				&:before{
					color: #fff;
					position: absolute;
					top: 0;
					left: 0;
					width: 80px;
					height: 200px;
					display: block;
					text-align: center;
					line-height: 200px;
					font-family: 'FontAwesome';
					font-size: 200px
				}
				&.carouselControlNext{
					float: right;
					&:before{
						content: '\f105';
					}
				}
				&.carouselControlPrev:before{
					content: '\f104';
				}
			}
		}
		@media only screen and (max-width : 1000px) {
			top: 275px;
		}
		@media only screen and (max-width : 480px) {
			top: 120px;
			li a{
				height: 100px;
				width: 40px;
				&:before{
					height: 100px;
					width: 40px;
					line-height: 100px;
					font-size: 64px;
				}
			}
		}
	}
}

.homepage section.carousel{
	padding: 0;
	max-width: none;
	background-color: #000;
	ul.carouselSlides{
		opacity: 0.4;
		li.carouselSlide{
			a.carouselSlideTitle{
				height: 700px;
			}
		}
	}
	.carouselButtons li.activeSlide a.button{
		background-color: #fff;
	}

	.carouselControls{
		top: 425px;
		@media only screen and (max-width : 1000px) {
			top: 275px;
		}
		@media only screen and (max-width : 480px) {
			top: 120px;
		}
	}
	.strapline{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		width: 50%;
		height: 160px;
		h1{
			font-size: 56px;
			color: #fff;
			text-align: center;
			margin: 0;
		}
		@media screen and (max-width: 1200px){
			height: 250px;
		}
		@media screen and (max-width: 1000px){
			height: 80px;
			h1{
				font-size: 36px;
			}
		}
		@media screen and (max-width: 768px){
			height: 140px;
		}
		@media screen and (max-width: 480px){
			width: 70%;
			height: 60px;
			h1{
				font-size: 24px;
			}
		}
		@media screen and (max-width: 365px){
			height: 100px;
		}
	}
}