@font-face {
	font-family: 'sciflysans';
	src: url('/Platforms/MPT/webfonts/scifly-sans-webfont.eot');
	src: url('/Platforms/MPT/webfonts/scifly-sans-webfont.eot?#iefix') format('embedded-opentype'),
             url('/Platforms/MPT/webfonts/scifly-sans-webfont.woff2') format('woff2'),
	     url('/Platforms/MPT/webfonts/scifly-sans-webfont.woff') format('woff'),
	     url('/Platforms/MPT/webfonts/scifly-sans-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}