footer.pageFooterWrapper{
	padding: 0;
	background-color: #222;
	margin-top: 60px;
	.newsletter-container{
		padding: 30px 0;
		background-color: #dadada;
		width: 100%;
		.NewsletterSign-up{
			width: 100%;
			max-width: 1170px;
			padding: 0;
			margin: 0 auto;
			float: none;
			h1{
				text-align: center;
				font-weight: 400;
				color: #444;
				margin-bottom: 10px;
			}
			.featureForm{
				overflow: auto;
			}
			.formQuestion{
				margin-top: 0;
				width: 25%;
				float: left;
				padding: 0 15px;
				input{
					background: #fff;
					border-radius: 0;
					border: 0;
				}
				button{
					margin-top: 24px;
					width: 100%;
				}
			}
		}
		@media screen and (max-width: 480px){
			padding: 30px 0;
			.NewsletterSign-up .formQuestion{
				width: 100%;
				margin-bottom: 10px;
				text-align: center;
				input{
					margin-top: 0;
				}
				button{
					margin-top: 0;
				}
			}
		}
	}

	.pageFooter{
		max-width: 1170px;
		border-top: 0;
		padding: 60px 15px;
		margin: 0 auto;
		.footerBox{
			width: 50%;
			padding: 0 15px;
			margin: 0;
			float: left;
			clear: none;
			border-top: 0;
			text-align: left;
			color: #fff;
			font-size: 18px;
			ul li a, a, a:link, p, li{
				color: #fff;
				font-size: 18px;
			}
			ul{
				margin-bottom: 0;
				margin-top: 0;
				li{
					padding: 0;
					margin: 0;
					a{
						line-height: 36px;
						font-weight: 700;
						margin-right: 10px;
					}
				}
				&.socialIcons{
					li {
						a{
							background-color: transparent;
							border-color: rgba(#fff,0.4);
							margin: 0 10px 0 0;
							line-height: 26px;
							&:hover{
								background-color:  rgba(#fff,0.4);
							}
							&:before{
								color: #fff;
								padding: 0;
							}
						}
					}
				}
			}
			.links-small, .links-small a{
				font-size: 14px;
			}
			@media only screen and (max-width : 768px) {
				width: 100%;
				padding: 0;
				text-align: center;
				&.footerBox4{
					margin-top: 15px;
				}
			}
			&.Funderlogos{
				width: 100%;
				margin-top: 60px;
				border-top: 1px solid #333;
				padding-top: 60px;
				text-align: center;
				img{
					height: 40px;
					width: auto;
					display: inline-block;
					margin: 0 5px;
				}
			}
		}
		@media only screen and (max-width : 480px) {
			padding-top: 30px;
		}
	}
	@media only screen and (max-width : 480px) {
		margin-top: 30px;
	}
}