header{
	position: relative;
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
	&.headerWrapper{
		max-width: 100%;
		padding: 0;
	}
}
.content{
	&.headerContent{
		background-color: #fff;
		position: relative;
		//main logo
		.mainLogo{
			background-image: url('http://millenniumpoint.ritdns.com/Handlers/GetImage.ashx?IDMF=fed4888d-240d-4338-b9c1-7e2cb3b31c18&w=400&h=131');
			width: 200px;
			height: 70px;
			background-size: contain;
			background-repeat: no-repeat;
			margin: 15px 0 0 0;
			@media screen and (max-width: 768px){
				margin-top: 0;
				width: 130px;
    			height: 100px;
			}
		}
		
		// social media icons
		.mainCallToAction {
			margin: 0;
			float: none;
			position: absolute;
			right: 0;
			bottom: 0;
			ul.socialIcons{
				text-align: center;
				li{
					margin: 0 5px 0 0;
					a{
						margin: 0;
						border: 0;
						line-height: 30px;
						&:before{
							color: #fff;
							padding: 0;
						}
						&.twitter{
							background-color: #55acee;
						}
						&.facebook{
							background-color: #3b5998;
						}
					}
				}
			}
		}
		form{
			display: none;
		}
	}
}

// Login menu
.menuAdminContainer{
	position: absolute;
	right: 0;
	top: 0;
	ul#menuAdmin li{
		&.menuAdminBasket{
			display: none;
		}
		a{
			font-size: 14px;
			color: $purple;
		}
	} 
}

//admin bar
.adminBar, .adminBarEdit{
	margin: 0;
}
