// feeds
.homeFeedsWrapper{
	padding-bottom: 0;
	margin-top: 0;
	margin-bottom: 60px;
	.homeFeeds{
		padding: 0;
	}
	.feed-wrapper{
		width: 50%;
		padding: 0 30px;
		float: left;
		@media only screen and (max-width : 1000px) {
			padding-left: 15px;
			padding-right: 15px;
		}
		@media only screen and (max-width : 768px) {
			float: none;
			width: 100%;
			padding: 0;
		}
	}
	.homeFeed{
		margin: 0;
		width: 100%;
		float: none;
		clear: none;
		height: 200px;
		overflow: hidden;
		h3{
			border-radius: 0;
			color: #fff;
			font-size: 36px;
			background-color: transparent;
			margin: 0;
			padding: 0;
			text-align: center;
			position: relative;
			z-index: 100;
			&:before{
				font-family: 'FontAwesome';
				position: absolute;
				top: 0;
				left: 33px;
				display: block;
			}
		}
		&.LatesttweetFeed{
			background-color: $blue;
			padding: 30px;
			h3{
				padding-left: 33px;
				&:before{
					content:'\f099';
				}
			}
		}
		&.OurpartnersFeed{
			background-color: $purple;
			padding: 30px;
			&:hover{
				background-color: darken($purple,5%);
			}
			&>h3, p{
				display: none;
			}
			h3{
				a{
					color: #fff;
					font-weight: 400;
					width: 100%;
					display: block;
					height: 180px;
					&:hover{
						text-decoration: none;
					}
				}
				&:after{
					content: '\f0f7';
					font-family: 'FontAwesome';
					font-size: 80px;
					width: 80px;
					height: 80px;
					line-height: 80px;
					margin: 0 auto;
					left: 0;
					right: 0;
					position: absolute;
					top: 55px;
					cursor: pointer;
				}
			}
		}
		ul.feedList{
			padding: 0;
			background-color: transparent;
			li{
				margin-top: 0;
				img{
					margin: 0;
					width: 100%;
					height: auto;
				}

				&.tweet{
					img{
						display: none;
					}
					p{
						font-family: $body-font;
						font-size: 16px;
						margin: 0;
						padding: 15px 0;
						color: #fff;
						text-align: center;
						a{
							color: #fff;
							text-decoration: underline;
							&:hover{
								text-decoration: none;
							}
						}
					}
					time{
						display: none;
					}
				}
			}
		}
		.feedActionWrapper{
			display: none;
		}
		@media only screen and (max-width : 768px) {

		}
		@media only screen and (max-width : 768px) {
			min-height: auto;
			margin-bottom: 15px;
		}
		@media only screen and (max-width : 480px) {
			width: 100%;
			padding-left: 0;
			padding-right: 0;
			margin-bottom: 15px;
		}
	}
}

.UpcomingeventsFeed, .LatestnewsFeed{
	width: 100%;
	border-radius: 0;
	clear: none;
	float: none;
	margin-left: 0;
	background-size: contain;
	background-repeat: no-repeat;
	border-top: 60px solid #fff;
	border-bottom: 60px solid #fff;
	.listing-info{
		width: 66.66666%;
		float: right;
		padding: 45px;
		border-left: 60px solid #fff;
		background-color: $blue;
		&:hover{
			background-color: darken($blue,5%);
		}
	}
	h3.feedsTitle{
		border-radius: 0;
		background-color: transparent;
		font-size: 24px;
		padding: 0;
		position: relative;
		padding-left: 36px;
		&:before{
			content:'\f073';
			font-family: 'FontAwesome';
			position: absolute;
			top: 0;
			left:0;
			display: block;
		}
	}
	.feedList{
		background-color: transparent;
		min-height: 0;
		padding: 0;
		li{
			&:hover{
				cursor: pointer;
			}
			margin-top: 45px;
			&:last-child{
				margin-bottom: 0;
			}
			h3 a{
				color: #fff;
				font-size: 24px;
				font-weight: 400;
			}
			p{
				width: 100%;
				color: #fff;
				font-family: $body-font;
				font-size: 16px;
				float: none;
				margin-top: 10px;
				margin-bottom: 10px;
				&.associatedStartDate{
					margin-top: 0;
					margin-bottom: 0;
				}
			}
		}
		img{
			display: none;
		}
		.postFooterWrapper{
			display: block;
			margin-top: 0;
			.shareWrapper, .locationDetails, .publishDetailsWrapper, .associatedEndDate, .associatedStartDate strong, .associatedStartDate time span:nth-child(2){
				display: none;
			}
			&> div {
				margin-top: 0;
			}
		}
	}
}

.LatestnewsFeed{
	background-position: bottom right;
	.listing-info{
		float: left;
		background-color: darken($blue,10%);
		border-left: 0;
		border-right: 60px solid white;
		&:hover{
			background-color: darken($blue,5%);
		}
		h3.feedsTitle{
			padding-left: 0;
			&:before{
				display: none;
			}
		}
	}
}