// features
.homeFeaturesWrapper{
	.homeFeatures{
		width: 100%;
		max-width: none;
		padding: 10px 0;
		margin: 0;
		.feature-wrapper{
		}
		.homeFeature{
			width: 100%;
			padding: 0;
			height: 400px;
			float: none;
			clear: none;
			@media only screen and (max-width : 768px) {
				background-color: $blue;
			}
			img{
				display: none;
			}
			&> a{
				width: 50%;
				background-size: cover;
				display: block;
				background-repeat: no-repeat;
				height: 400px;
				float: left;
				@media only screen and (max-width : 768px) {
					width: 100%;
					float: none;
					opacity: 0.7;
				}
			}
			transition: background-color 0.4s ease 0.1s;
			.homeFeatureDetailsWrapper{
				width: 50%;
				float: right;
				padding: 30px;
				text-align: left;
				position: relative;
				&:before{
					content: 'Upcoming event';
					font-size: 48px;
					height: 53px;
					line-height: 53px;
					@media only screen and (max-width : 768px) {
						color: #fff;
						font-size: 36px;
					}
				}
				h2{
					margin: 18% 0 0 0;
					padding: 0;
					position: relative;
					a{
						color: #444;
						&:hover{
							text-decoration: none;
						}
					}
				}
				p{
					font-family: $body-font;
					margin-bottom: 0;
				}
				@media only screen and (max-width : 768px) {
					width: 100%;
					position: absolute;
					top: 0;
					left: 0;
					padding: 15px;
					h2 a, p{
						color: #fff;
					}
				}
				@media only screen and (max-width : 480px) {
					h2{
						margin-top: 30px
					}
				}
			}
			&:hover{
				background-color: $blue;
				color: #fff;
				h2 a{
					color: #fff;
				}
				&> a{
					opacity: 0.7;
				}
			}
		}
	}
}