html, body {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400; }

h1, h2, h3, h4, h5 {
  font-family: "sciflysans", sans-serif;
  font-style: normal; }
  h1.feedTitle, h2.feedTitle, h3.feedTitle, h4.feedTitle, h5.feedTitle {
    font-weight: 700; }
  h1.title, h2.title, h3.title, h4.title, h5.title {
    color: #333;
    font-family: "sciflysans", sans-serif; }

h1 {
  font-size: 28px; }
  h1.title {
    font-size: 36px; }

h2 {
  font-size: 24px; }

h3 {
  font-size: 18px; }

p, ul li, ol li {
  font-size: 18px; }

blockquote p {
  font-size: 24px; }

button, #totaliserActions .buttonDonate, #totaliserActions .donateBtn, .appealActions .donateBtn:link, .appealActions .donateBtn:visited, .appealActions .donateBtn:active, button#btnSignIn, .groupSignUpBtn, a.button.donate,
.commentAddImage, .button, a.button:link, a.button:visited, a.button:active, #totaliserActions .buttonDonate, #totaliserActions .buttonFundraise, .listedFilters a.filter:link, .listedFilters a.filter:visited, .listedFilters a.filter:active, .searchListingPage .searchContainer button, .appliedFilters .filter, .associatedReadMore a, .associatedReadMore a:link, .associatedReadMore a:visited, .associatedReadMore a:active {
  border-radius: 3px;
  background-color: #0c84c7;
  color: #fff;
  font-size: 16px;
  padding: 5px 15px;
  font-family: "sciflysans", sans-serif; }
  button:hover, #totaliserActions .buttonDonate:hover, #totaliserActions .donateBtn:hover, .appealActions .donateBtn:link:hover, .appealActions .donateBtn:visited:hover, .appealActions .donateBtn:active:hover, button#btnSignIn:hover, .groupSignUpBtn:hover, a.button.donate:hover,
  .commentAddImage:hover, .button:hover, a.button:link:hover, a.button:visited:hover, a.button:active:hover, #totaliserActions .buttonDonate:hover, #totaliserActions .buttonFundraise:hover, .listedFilters a.filter:link:hover, .listedFilters a.filter:visited:hover, .listedFilters a.filter:active:hover, .searchListingPage .searchContainer button:hover, .appliedFilters .filter:hover, .associatedReadMore a:hover, .associatedReadMore a:link:hover, .associatedReadMore a:visited:hover, .associatedReadMore a:active:hover {
    background-color: #0b74af; }

@font-face {
  font-family: 'sciflysans'; }
header {
  position: relative;
  width: 100%;
  margin: 0 auto; }
  header.pageHeader {
    padding: 0 60px; }
  header.headerWrapper {
    max-width: 100%;
    padding: 0; }

.content.headerContent {
  background-color: #fff;
  position: relative;
  max-width: 100%; }
  .content.headerContent .mainLogo {
    background-image: url("http://millenniumpoint.ritdns.com/Handlers/GetImage.ashx?IDMF=fed4888d-240d-4338-b9c1-7e2cb3b31c18&w=400&h=131");
    width: 200px;
    height: 70px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 15px 0 0 0; }
    @media screen and (max-width: 768px) {
      .content.headerContent .mainLogo {
        margin-top: 0;
        width: 155px;
        height: 50px; } }
  .content.headerContent .mainCallToAction {
    margin: 0;
    float: none;
    position: absolute;
    right: 0;
    bottom: 0; }
    .content.headerContent .mainCallToAction ul.socialIcons {
      text-align: center; }
      .content.headerContent .mainCallToAction ul.socialIcons li {
        margin: 0 5px 0 0; }
        .content.headerContent .mainCallToAction ul.socialIcons li a {
          margin: 0;
          border: 0;
          line-height: 30px; }
          .content.headerContent .mainCallToAction ul.socialIcons li a:before {
            color: #fff;
            padding: 0; }
          .content.headerContent .mainCallToAction ul.socialIcons li a.twitter {
            background-color: #55acee; }
          .content.headerContent .mainCallToAction ul.socialIcons li a.facebook {
            background-color: #3b5998; }
  .content.headerContent form {
    display: none; }

.menuAdminContainer {
  position: absolute;
  right: 0;
  top: 0; }
  .menuAdminContainer ul#menuAdmin li.menuAdminBasket {
    display: none; }
  .menuAdminContainer ul#menuAdmin li a {
    font-size: 14px;
    color: #582e91; }

.adminBar, .adminBarEdit {
  margin: 0; }

footer.pageFooterWrapper {
  padding: 0;
  background-color: #222;
  margin-top: 60px; }
  footer.pageFooterWrapper .newsletter-container {
    padding: 30px 0;
    background-color: #dadada;
    width: 100%; }
    footer.pageFooterWrapper .newsletter-container .NewsletterSign-up {
      width: 100%;
      max-width: 1170px;
      padding: 0;
      margin: 0 auto;
      float: none; }
      footer.pageFooterWrapper .newsletter-container .NewsletterSign-up h1 {
        text-align: center;
        font-weight: 400;
        color: #444;
        margin-bottom: 10px; }
      footer.pageFooterWrapper .newsletter-container .NewsletterSign-up .featureForm {
        overflow: auto; }
      footer.pageFooterWrapper .newsletter-container .NewsletterSign-up .formQuestion {
        margin-top: 0;
        width: 25%;
        float: left;
        padding: 0 15px; }
        footer.pageFooterWrapper .newsletter-container .NewsletterSign-up .formQuestion input {
          background: #fff;
          border-radius: 0;
          border: 0; }
        footer.pageFooterWrapper .newsletter-container .NewsletterSign-up .formQuestion button {
          margin-top: 24px;
          width: 100%; }
    @media screen and (max-width: 480px) {
      footer.pageFooterWrapper .newsletter-container {
        padding: 30px 0; }
        footer.pageFooterWrapper .newsletter-container .NewsletterSign-up .formQuestion {
          width: 100%;
          margin-bottom: 10px;
          text-align: center; }
          footer.pageFooterWrapper .newsletter-container .NewsletterSign-up .formQuestion input {
            margin-top: 0; }
          footer.pageFooterWrapper .newsletter-container .NewsletterSign-up .formQuestion button {
            margin-top: 0; } }
  footer.pageFooterWrapper .pageFooter {
    max-width: 1170px;
    border-top: 0;
    padding: 60px 15px;
    margin: 0 auto; }
    footer.pageFooterWrapper .pageFooter .footerBox {
      width: 50%;
      padding: 0 15px;
      margin: 0;
      float: left;
      clear: none;
      border-top: 0;
      text-align: left;
      color: #fff;
      font-size: 18px; }
      footer.pageFooterWrapper .pageFooter .footerBox ul li a, footer.pageFooterWrapper .pageFooter .footerBox a, footer.pageFooterWrapper .pageFooter .footerBox a:link, footer.pageFooterWrapper .pageFooter .footerBox p, footer.pageFooterWrapper .pageFooter .footerBox li {
        color: #fff;
        font-size: 18px; }
      footer.pageFooterWrapper .pageFooter .footerBox ul {
        margin-bottom: 0;
        margin-top: 0; }
        footer.pageFooterWrapper .pageFooter .footerBox ul li {
          padding: 0;
          margin: 0; }
          footer.pageFooterWrapper .pageFooter .footerBox ul li a {
            line-height: 36px;
            font-weight: 700;
            margin-right: 10px; }
        footer.pageFooterWrapper .pageFooter .footerBox ul.socialIcons li a {
          background-color: transparent;
          border-color: rgba(255, 255, 255, 0.4);
          margin: 0 10px 0 0;
          line-height: 26px; }
          footer.pageFooterWrapper .pageFooter .footerBox ul.socialIcons li a:hover {
            background-color: rgba(255, 255, 255, 0.4); }
          footer.pageFooterWrapper .pageFooter .footerBox ul.socialIcons li a:before {
            color: #fff;
            padding: 0; }
      footer.pageFooterWrapper .pageFooter .footerBox .links-small, footer.pageFooterWrapper .pageFooter .footerBox .links-small a {
        font-size: 14px; }
      @media only screen and (max-width: 768px) {
        footer.pageFooterWrapper .pageFooter .footerBox {
          width: 100%;
          padding: 0;
          text-align: center; }
          footer.pageFooterWrapper .pageFooter .footerBox.footerBox4 {
            margin-top: 15px; } }
      footer.pageFooterWrapper .pageFooter .footerBox.Funderlogos {
        width: 100%;
        margin-top: 60px;
        border-top: 1px solid #333;
        padding-top: 60px;
        text-align: center; }
        footer.pageFooterWrapper .pageFooter .footerBox.Funderlogos img {
          height: 40px;
          width: auto;
          display: inline-block;
          margin: 0 5px; }
    @media only screen and (max-width: 480px) {
      footer.pageFooterWrapper .pageFooter {
        padding-top: 30px; } }
  @media only screen and (max-width: 480px) {
    footer.pageFooterWrapper {
      margin-top: 30px; } }

.homepage footer.pageFooterWrapper {
  margin-top: 0; }

nav#menuMain {
  background-color: #fff;
  max-width: none;
  width: auto;
  position: absolute;
  bottom: 2px;
  right: 100px; }
  nav#menuMain ul {
    text-align: right; }
    nav#menuMain ul li {
      padding: 4px 10px; }
      nav#menuMain ul li.hasSubmenu {
        padding-left: 0; }
      nav#menuMain ul li:hover > a {
        background-color: #fff; }
      nav#menuMain ul li#menu74b947ee-6bc6-47da-9357-a9cd295b5eb5 a {
        margin: 0; }
        nav#menuMain ul li#menu74b947ee-6bc6-47da-9357-a9cd295b5eb5 a:hover {
          color: #444;
          border-radius: 0;
          margin: 0; }
      nav#menuMain ul li a {
        color: #444;
        border-bottom: 2px solid #fff;
        padding: 0;
        font-family: "sciflysans", sans-serif;
        font-size: 18px;
        border-radius: 0;
        text-transform: uppercase; }
        nav#menuMain ul li a:hover, nav#menuMain ul li a.active {
          border-bottom-color: #444; }
        @media screen and (max-width: 1000px) {
          nav#menuMain ul li a {
            font-size: 14px; } }
      nav#menuMain ul li ul {
        padding: 0;
        margin-left: -100%;
        box-shadow: none;
        text-align: left;
        border-radius: 0;
        margin-right: 0; }
        nav#menuMain ul li ul li {
          background-color: #fff;
          padding: 7px 15px;
          text-align: center; }
          nav#menuMain ul li ul li:first-child {
            padding-top: 15px; }
          nav#menuMain ul li ul li:last-child {
            padding-bottom: 15px; }
          nav#menuMain ul li ul li:hover > a {
            background-color: transparent; }
          nav#menuMain ul li ul li a {
            border-bottom-color: transparent;
            display: inline-block;
            width: auto;
            font-size: 16px;
            padding: 0; }
            nav#menuMain ul li ul li a:hover {
              border-bottom-color: #444; }

@media screen and (max-width: 768px) {
  a.menuMainAlt {
    background-color: #f0f0f0;
    color: #666;
    font-weight: 700;
    text-transform: uppercase;
    width: auto;
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 10px;
    border: 1px solid #e5e5e5; }
    a.menuMainAlt:hover {
      text-decoration: none; }

  nav#menuMain {
    bottom: auto;
    top: 37px;
    z-index: 10;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }
    nav#menuMain ul li {
      padding: 5px 10px; }
      nav#menuMain ul li.mobile-search form {
        display: none; }
      nav#menuMain ul li .mainCallToAction {
        margin: 0;
        float: none; }
        nav#menuMain ul li .mainCallToAction ul {
          margin: 10px 0;
          text-align: center; }
          nav#menuMain ul li .mainCallToAction ul li {
            padding: 0;
            margin: 0;
            text-align: center; }
            nav#menuMain ul li .mainCallToAction ul li a {
              margin: 0 5px;
              display: inline-block;
              padding: 0;
              border-bottom: 0;
              border-radius: 100px;
              width: 30px; }
              nav#menuMain ul li .mainCallToAction ul li a:before {
                color: #fff; }
              nav#menuMain ul li .mainCallToAction ul li a.twitter {
                background-color: #55acee; }
              nav#menuMain ul li .mainCallToAction ul li a.facebook {
                background-color: #3A5795; }
      nav#menuMain ul li a {
        padding: 0;
        border-bottom: 1px solid rgba(68, 68, 68, 0.3);
        font-size: 16px; }
        nav#menuMain ul li a:hover, nav#menuMain ul li a.active {
          border-bottom-color: rgba(68, 68, 68, 0.3); }
        nav#menuMain ul li a:after {
          font-size: 1em;
          padding: 0;
          right: 20px;
          top: 10px; }
      nav#menuMain ul li > ul {
        padding: 0;
        margin: 0; }
        nav#menuMain ul li > ul li {
          padding: 0; }
          nav#menuMain ul li > ul li a {
            border-bottom: 0;
            display: block; } }
nav {
  margin-top: 30px; }
  nav ol.breadcrumbList li.breadcrumbItem {
    margin-right: 0;
    background-color: #ededed;
    padding: 5px 0 5px 15px;
    position: relative;
    color: #52924d; }
    nav ol.breadcrumbList li.breadcrumbItem:last-child {
      padding-right: 15px; }
    nav ol.breadcrumbList li.breadcrumbItem:before {
      font-family: 'FontAwesome';
      content: '\f105';
      color: #52924d; }
    nav ol.breadcrumbList li.breadcrumbItem:first-child:before {
      display: none; }
    nav ol.breadcrumbList li.breadcrumbItem a {
      font-family: "sciflysans", sans-serif; }

section.carousel {
  padding: 0;
  max-width: none;
  height: auto;
  margin-top: 15px; }
  section.carousel li.carouselSlide {
    max-height: none;
    min-height: 500px;
    background-position: center center;
    display: block;
    background-size: cover;
    background-repeat: no-repeat; }
    section.carousel li.carouselSlide img {
      display: none; }
    section.carousel li.carouselSlide a img {
      display: none; }
    section.carousel li.carouselSlide a.carouselSlideTitle {
      display: block;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top center;
      cursor: default; }
  section.carousel img {
    border-radius: 0; }
  @media only screen and (max-width: 1000px) {
    section.carousel {
      height: auto; }
      section.carousel li.carouselSlide {
        height: auto; }
        section.carousel li.carouselSlide a.carouselSlideTitle {
          height: 400px; } }
  @media only screen and (max-width: 480px) {
    section.carousel li.carouselSlide a.carouselSlideTitle {
      height: 200px; } }
  section.carousel .carouselDetailWrapper {
    display: none; }
  section.carousel .carouselButtons {
    position: absolute;
    margin-top: 0;
    bottom: 0;
    background-color: transparent;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto; }
    section.carousel .carouselButtons li {
      background-color: transparent;
      margin: 0; }
      section.carousel .carouselButtons li a.button.carouselButton {
        background-color: rgba(255, 255, 255, 0.85); }
        section.carousel .carouselButtons li a.button.carouselButton:hover {
          background-color: #fff; }
      section.carousel .carouselButtons li.activeSlide a.button.carouselButton, section.carousel .carouselButtons li:active a.button.carouselButton, section.carousel .carouselButtons li:focus a.button.carouselButton {
        background-color: #fff; }
        section.carousel .carouselButtons li.activeSlide a.button.carouselButton:hover, section.carousel .carouselButtons li:active a.button.carouselButton:hover, section.carousel .carouselButtons li:focus a.button.carouselButton:hover {
          background-color: #fff; }
    @media only screen and (max-width: 1000px) {
      section.carousel .carouselButtons {
        top: auto;
        margin-top: 0 !important; } }
    @media only screen and (max-width: 480px) {
      section.carousel .carouselButtons {
        top: 160px; } }
  section.carousel .carouselControls {
    display: block;
    position: absolute;
    top: 250px;
    width: 100%; }
    section.carousel .carouselControls li a {
      width: 80px;
      height: 200px;
      display: block;
      color: transparent;
      float: left; }
      section.carousel .carouselControls li a:hover {
        background-color: transparent; }
      section.carousel .carouselControls li a:before {
        color: #fff;
        position: absolute;
        top: 0;
        left: 0;
        width: 80px;
        height: 200px;
        display: block;
        text-align: center;
        line-height: 200px;
        font-family: 'FontAwesome';
        font-size: 200px; }
      section.carousel .carouselControls li a.carouselControlNext {
        float: right; }
        section.carousel .carouselControls li a.carouselControlNext:before {
          content: '\f105'; }
      section.carousel .carouselControls li a.carouselControlPrev:before {
        content: '\f104'; }
    @media only screen and (max-width: 1000px) {
      section.carousel .carouselControls {
        top: 275px; } }
    @media only screen and (max-width: 480px) {
      section.carousel .carouselControls {
        top: 120px; }
        section.carousel .carouselControls li a {
          height: 100px;
          width: 40px; }
          section.carousel .carouselControls li a:before {
            height: 100px;
            width: 40px;
            line-height: 100px;
            font-size: 64px; } }

.homepage section.carousel {
  padding: 0;
  max-width: none;
  background-color: #000; }
  .homepage section.carousel ul.carouselSlides {
    opacity: 0.4; }
    .homepage section.carousel ul.carouselSlides li.carouselSlide a.carouselSlideTitle {
      height: 700px; }
  .homepage section.carousel .carouselButtons li.activeSlide a.button {
    background-color: #fff; }
  .homepage section.carousel .carouselControls {
    top: 425px; }
    @media only screen and (max-width: 1000px) {
      .homepage section.carousel .carouselControls {
        top: 275px; } }
    @media only screen and (max-width: 480px) {
      .homepage section.carousel .carouselControls {
        top: 120px; } }
  .homepage section.carousel .strapline {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 50%;
    height: 160px; }
    .homepage section.carousel .strapline h1 {
      font-size: 56px;
      color: #fff;
      text-align: center;
      margin: 0; }
    @media screen and (max-width: 1200px) {
      .homepage section.carousel .strapline {
        height: 250px; } }
    @media screen and (max-width: 1000px) {
      .homepage section.carousel .strapline {
        height: 80px; }
        .homepage section.carousel .strapline h1 {
          font-size: 36px; } }
    @media screen and (max-width: 768px) {
      .homepage section.carousel .strapline {
        height: 140px; } }
    @media screen and (max-width: 480px) {
      .homepage section.carousel .strapline {
        width: 70%;
        height: 60px; }
        .homepage section.carousel .strapline h1 {
          font-size: 24px; } }
    @media screen and (max-width: 365px) {
      .homepage section.carousel .strapline {
        height: 100px; } }

.homeFeedsWrapper {
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 60px; }
  .homeFeedsWrapper .homeFeeds {
    padding: 0; }
  .homeFeedsWrapper .feed-wrapper {
    width: 50%;
    padding: 0 30px;
    float: left; }
    @media only screen and (max-width: 1000px) {
      .homeFeedsWrapper .feed-wrapper {
        padding-left: 15px;
        padding-right: 15px; } }
    @media only screen and (max-width: 768px) {
      .homeFeedsWrapper .feed-wrapper {
        float: none;
        width: 100%;
        padding: 0; } }
  .homeFeedsWrapper .homeFeed {
    margin: 0;
    width: 100%;
    float: none;
    clear: none;
    height: 200px;
    overflow: hidden; }
    .homeFeedsWrapper .homeFeed h3 {
      border-radius: 0;
      color: #fff;
      font-size: 36px;
      background-color: transparent;
      margin: 0;
      padding: 0;
      text-align: center;
      position: relative;
      z-index: 100; }
      .homeFeedsWrapper .homeFeed h3:before {
        font-family: 'FontAwesome';
        position: absolute;
        top: 0;
        left: 33px;
        display: block; }
    .homeFeedsWrapper .homeFeed.LatesttweetFeed {
      background-color: #0c84c7;
      padding: 30px; }
      .homeFeedsWrapper .homeFeed.LatesttweetFeed h3 {
        padding-left: 33px; }
        .homeFeedsWrapper .homeFeed.LatesttweetFeed h3:before {
          content: '\f099'; }
    .homeFeedsWrapper .homeFeed.OurpartnersFeed {
      background-color: #582e91;
      padding: 30px; }
      .homeFeedsWrapper .homeFeed.OurpartnersFeed:hover {
        background-color: #4c287e; }
      .homeFeedsWrapper .homeFeed.OurpartnersFeed > h3, .homeFeedsWrapper .homeFeed.OurpartnersFeed p {
        display: none; }
      .homeFeedsWrapper .homeFeed.OurpartnersFeed h3 a {
        color: #fff;
        font-weight: 400;
        width: 100%;
        display: block;
        height: 180px; }
        .homeFeedsWrapper .homeFeed.OurpartnersFeed h3 a:hover {
          text-decoration: none; }
      .homeFeedsWrapper .homeFeed.OurpartnersFeed h3:after {
        content: '\f0f7';
        font-family: 'FontAwesome';
        font-size: 80px;
        width: 80px;
        height: 80px;
        line-height: 80px;
        margin: 0 auto;
        left: 0;
        right: 0;
        position: absolute;
        top: 55px;
        cursor: pointer; }
    .homeFeedsWrapper .homeFeed ul.feedList {
      padding: 0;
      background-color: transparent; }
      .homeFeedsWrapper .homeFeed ul.feedList li {
        margin-top: 0; }
        .homeFeedsWrapper .homeFeed ul.feedList li img {
          margin: 0;
          width: 100%;
          height: auto; }
        .homeFeedsWrapper .homeFeed ul.feedList li.tweet img {
          display: none; }
        .homeFeedsWrapper .homeFeed ul.feedList li.tweet p {
          font-family: "Open Sans", Arial, sans-serif;
          font-size: 16px;
          margin: 0;
          padding: 15px 0;
          color: #fff;
          text-align: center; }
          .homeFeedsWrapper .homeFeed ul.feedList li.tweet p a {
            color: #fff;
            text-decoration: underline; }
            .homeFeedsWrapper .homeFeed ul.feedList li.tweet p a:hover {
              text-decoration: none; }
        .homeFeedsWrapper .homeFeed ul.feedList li.tweet time {
          display: none; }
    .homeFeedsWrapper .homeFeed .feedActionWrapper {
      display: none; }
    @media only screen and (max-width: 768px) {
      .homeFeedsWrapper .homeFeed {
        min-height: auto;
        margin-bottom: 15px; } }
    @media only screen and (max-width: 480px) {
      .homeFeedsWrapper .homeFeed {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 15px; } }

.UpcomingeventsFeed, .LatestnewsFeed {
  width: 100%;
  border-radius: 0;
  clear: none;
  float: none;
  margin-left: 0;
  background-size: contain;
  background-repeat: no-repeat;
  border-top: 60px solid #fff;
  border-bottom: 60px solid #fff; }
  .UpcomingeventsFeed .listing-info, .LatestnewsFeed .listing-info {
    width: 66.66666%;
    float: right;
    padding: 45px;
    border-left: 60px solid #fff;
    background-color: #0c84c7; }
    .UpcomingeventsFeed .listing-info:hover, .LatestnewsFeed .listing-info:hover {
      background-color: #0b74af; }
  .UpcomingeventsFeed h3.feedsTitle, .LatestnewsFeed h3.feedsTitle {
    border-radius: 0;
    background-color: transparent;
    font-size: 24px;
    padding: 0;
    position: relative;
    padding-left: 36px; }
    .UpcomingeventsFeed h3.feedsTitle:before, .LatestnewsFeed h3.feedsTitle:before {
      content: '\f073';
      font-family: 'FontAwesome';
      position: absolute;
      top: 0;
      left: 0;
      display: block; }
  .UpcomingeventsFeed .feedList, .LatestnewsFeed .feedList {
    background-color: transparent;
    min-height: 0;
    padding: 0; }
    .UpcomingeventsFeed .feedList li, .LatestnewsFeed .feedList li {
      margin-top: 45px; }
      .UpcomingeventsFeed .feedList li:hover, .LatestnewsFeed .feedList li:hover {
        cursor: pointer; }
      .UpcomingeventsFeed .feedList li:last-child, .LatestnewsFeed .feedList li:last-child {
        margin-bottom: 0; }
      .UpcomingeventsFeed .feedList li h3 a, .LatestnewsFeed .feedList li h3 a {
        color: #fff;
        font-size: 24px;
        font-weight: 400; }
      .UpcomingeventsFeed .feedList li p, .LatestnewsFeed .feedList li p {
        width: 100%;
        color: #fff;
        font-family: "Open Sans", Arial, sans-serif;
        font-size: 16px;
        float: none;
        margin-top: 10px;
        margin-bottom: 10px; }
        .UpcomingeventsFeed .feedList li p.associatedStartDate, .LatestnewsFeed .feedList li p.associatedStartDate {
          margin-top: 0;
          margin-bottom: 0; }
    .UpcomingeventsFeed .feedList img, .LatestnewsFeed .feedList img {
      display: none; }
    .UpcomingeventsFeed .feedList .postFooterWrapper, .LatestnewsFeed .feedList .postFooterWrapper {
      display: block;
      margin-top: 0; }
      .UpcomingeventsFeed .feedList .postFooterWrapper .shareWrapper, .UpcomingeventsFeed .feedList .postFooterWrapper .locationDetails, .UpcomingeventsFeed .feedList .postFooterWrapper .publishDetailsWrapper, .UpcomingeventsFeed .feedList .postFooterWrapper .associatedEndDate, .UpcomingeventsFeed .feedList .postFooterWrapper .associatedStartDate strong, .UpcomingeventsFeed .feedList .postFooterWrapper .associatedStartDate time span:nth-child(2), .LatestnewsFeed .feedList .postFooterWrapper .shareWrapper, .LatestnewsFeed .feedList .postFooterWrapper .locationDetails, .LatestnewsFeed .feedList .postFooterWrapper .publishDetailsWrapper, .LatestnewsFeed .feedList .postFooterWrapper .associatedEndDate, .LatestnewsFeed .feedList .postFooterWrapper .associatedStartDate strong, .LatestnewsFeed .feedList .postFooterWrapper .associatedStartDate time span:nth-child(2) {
        display: none; }
      .UpcomingeventsFeed .feedList .postFooterWrapper > div, .LatestnewsFeed .feedList .postFooterWrapper > div {
        margin-top: 0; }

.LatestnewsFeed {
  background-position: bottom right; }
  .LatestnewsFeed .listing-info {
    float: left;
    background-color: #096497;
    border-left: 0;
    border-right: 60px solid white; }
    .LatestnewsFeed .listing-info:hover {
      background-color: #0b74af; }
    .LatestnewsFeed .listing-info h3.feedsTitle {
      padding-left: 0; }
      .LatestnewsFeed .listing-info h3.feedsTitle:before {
        display: none; }

.homeFeaturesWrapper .homeFeatures {
  width: 100%;
  max-width: none;
  padding: 10px 0;
  margin: 0; }
  .homeFeaturesWrapper .homeFeatures .homeFeature {
    width: 100%;
    padding: 0;
    height: 400px;
    float: none;
    clear: none;
    transition: background-color 0.4s ease 0.1s; }
    @media only screen and (max-width: 768px) {
      .homeFeaturesWrapper .homeFeatures .homeFeature {
        background-color: #0c84c7; } }
    .homeFeaturesWrapper .homeFeatures .homeFeature img {
      display: none; }
    .homeFeaturesWrapper .homeFeatures .homeFeature > a {
      width: 50%;
      background-size: cover;
      display: block;
      background-repeat: no-repeat;
      height: 400px;
      float: left; }
      @media only screen and (max-width: 768px) {
        .homeFeaturesWrapper .homeFeatures .homeFeature > a {
          width: 100%;
          float: none;
          opacity: 0.7; } }
    .homeFeaturesWrapper .homeFeatures .homeFeature .homeFeatureDetailsWrapper {
      width: 50%;
      float: right;
      padding: 30px;
      text-align: left;
      position: relative; }
      .homeFeaturesWrapper .homeFeatures .homeFeature .homeFeatureDetailsWrapper:before {
        content: 'Upcoming event';
        font-size: 48px;
        height: 53px;
        line-height: 53px; }
        @media only screen and (max-width: 768px) {
          .homeFeaturesWrapper .homeFeatures .homeFeature .homeFeatureDetailsWrapper:before {
            color: #fff;
            font-size: 36px; } }
      .homeFeaturesWrapper .homeFeatures .homeFeature .homeFeatureDetailsWrapper h2 {
        margin: 18% 0 0 0;
        padding: 0;
        position: relative; }
        .homeFeaturesWrapper .homeFeatures .homeFeature .homeFeatureDetailsWrapper h2 a {
          color: #444; }
          .homeFeaturesWrapper .homeFeatures .homeFeature .homeFeatureDetailsWrapper h2 a:hover {
            text-decoration: none; }
      .homeFeaturesWrapper .homeFeatures .homeFeature .homeFeatureDetailsWrapper p {
        font-family: "Open Sans", Arial, sans-serif;
        margin-bottom: 0; }
      @media only screen and (max-width: 768px) {
        .homeFeaturesWrapper .homeFeatures .homeFeature .homeFeatureDetailsWrapper {
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
          padding: 15px; }
          .homeFeaturesWrapper .homeFeatures .homeFeature .homeFeatureDetailsWrapper h2 a, .homeFeaturesWrapper .homeFeatures .homeFeature .homeFeatureDetailsWrapper p {
            color: #fff; } }
      @media only screen and (max-width: 480px) {
        .homeFeaturesWrapper .homeFeatures .homeFeature .homeFeatureDetailsWrapper h2 {
          margin-top: 30px; } }
    .homeFeaturesWrapper .homeFeatures .homeFeature:hover {
      background-color: #0c84c7;
      color: #fff; }
      .homeFeaturesWrapper .homeFeatures .homeFeature:hover h2 a {
        color: #fff; }
      .homeFeaturesWrapper .homeFeatures .homeFeature:hover > a {
        opacity: 0.7; }

.homepage {
  font-family: "sciflysans", sans-serif; }

.homeIntroWrapper {
  margin: 0 auto;
  padding: 0;
  max-width: 100%;
  background-size: cover;
  background-image: url("http://millenniumpoint.ritdns.com/Handlers/GetImage.ashx?w=1400&h=400&f=1&IDMF=9c1d8516-c825-47f0-8b5c-46b564ebcf63"); }
  .homeIntroWrapper .homeIntro {
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 60px 0;
    margin: 0;
    font-family: "sciflysans", sans-serif; }
    .homeIntroWrapper .homeIntro p {
      font-size: 48px;
      margin: 0; }
      .homeIntroWrapper .homeIntro p a.button {
        font-size: 24px;
        letter-spacing: 2px;
        text-transform: uppercase; }
    @media only screen and (max-width: 768px) {
      .homeIntroWrapper .homeIntro p {
        font-size: 36px; } }
    @media only screen and (max-width: 540px) {
      .homeIntroWrapper .homeIntro {
        width: 100%; }
        .homeIntroWrapper .homeIntro p a.button {
          margin-top: 15px; } }

.headerText, .contentBlockWrapper {
  padding: 0 15px;
  max-width: 1170px; }

aside.postAside {
  border: 1px solid #eee; }
  aside.postAside .associated {
    background-color: #fff;
    margin: 0 15px 45px 15px; }
    aside.postAside .associated ul {
      margin: 0;
      padding-bottom: 0; }
      aside.postAside .associated ul li {
        margin-top: 0;
        padding: 15px 5px 0 5px;
        display: none; }
        aside.postAside .associated ul li:nth-child(-n+4) {
          display: block; }
        aside.postAside .associated ul li h3 {
          padding: 0;
          margin: 0;
          font-size: 14px;
          text-align: center; }
          aside.postAside .associated ul li h3 a:hover {
            text-decoration: underline; }
    aside.postAside .associated h2 {
      background-color: #fff;
      border-radius: 0;
      padding: 15px;
      border-bottom: 1px solid #ededed;
      text-align: center;
      font-weight: 400;
      color: #777;
      text-transform: uppercase; }
    aside.postAside .associated.associatedMostRead {
      display: none; }
    aside.postAside .associated.pages {
      margin: 70px 0 0 0;
      background-color: #f9f9f9; }
      aside.postAside .associated.pages:hover {
        background-color: #ededed; }
      aside.postAside .associated.pages img {
        border-radius: 0; }
      aside.postAside .associated.pages h2 {
        margin: 0;
        border-bottom: 0;
        padding: 10px 0;
        background-color: transparent; }
      aside.postAside .associated.pages p {
        margin: 0;
        text-align: center;
        font-size: 14px;
        font-family: "sciflysans", sans-serif;
        padding-left: 15px;
        padding-right: 15px; }
        aside.postAside .associated.pages p a {
          font-size: 14px; }

.listing .listContent .listedPost {
  border-radius: 0;
  border: 1px solid #ededed;
  background-color: #fff; }
  .listing .listContent .listedPost:hover {
    background-color: #ededed; }
  .listing .listContent .listedPost img {
    border-top-left-radius: 0;
    border-top-right-radius: 0; }
  .listing .listContent .listedPost h2 {
    margin-top: 24px;
    margin-bottom: 15px;
    font-style: normal; }
    .listing .listContent .listedPost h2 a:hover {
      text-decoration: none; }

.pageContent, .postContent {
  width: 100%; }
  .pageContent table, .postContent table {
    border: 1px solid #ededed;
    background-color: #fff; }
    .pageContent table thead, .postContent table thead {
      background-color: transparent;
      font-family: "sciflysans", sans-serif;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #582e91;
      border-top: 1px solid #ededed;
      border-bottom: 1px solid #ededed;
      text-align: left;
      color: #333; }
      .pageContent table thead th, .postContent table thead th {
        padding: 10px; }
    .pageContent table tbody, .postContent table tbody {
      color: #333;
      background-color: transparent; }
      .pageContent table tbody td, .postContent table tbody td {
        padding: 10px; }

footer .shareWrapper {
  margin: 60px 0;
  padding: 15px 0;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  text-align: center; }
  footer .shareWrapper strong {
    margin-bottom: 0;
    text-transform: uppercase;
    font-style: normal;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: #777; }
  footer .shareWrapper ul li {
    height: 33px; }

.postComments {
  border: 1px solid #ededed;
  padding: 30px; }
  .postComments header {
    padding: 0 0 30px 0;
    margin: 0;
    border-bottom: 1px solid #ededed; }
    .postComments header h3 {
      margin: 0;
      font-size: 22px;
      color: #777;
      text-transform: uppercase; }
      .postComments header h3#makeComment {
        font-size: 22px; }
  .postComments .commentForm {
    margin-top: 0; }
    .postComments .commentForm label {
      color: #777;
      font-size: 16px; }
    .postComments .commentForm textarea, .postComments .commentForm input {
      border: 0;
      border-radius: 0;
      font-family: "sciflysans", sans-serif; }
      .postComments .commentForm textarea[type="checkbox"]#notifyComments, .postComments .commentForm input[type="checkbox"]#notifyComments {
        margin: 5px 5px 0 0; }
    .postComments .commentForm button {
      margin: 15px auto 0 auto;
      display: block; }
    .postComments .commentForm .commentAddImage {
      background-color: #ededed !important;
      padding: 5px 15px !important;
      color: #333 !important; }
    .postComments .commentForm .commentsList {
      margin: 0;
      padding: 0; }
      .postComments .commentForm .commentsList li {
        margin-top: 30px;
        margin-bottom: 30px;
        padding-bottom: 30px;
        border-bottom: 1px solid #ededed; }
      .postComments .commentForm .commentsList .commentContentWrapper {
        float: right;
        width: 83%; }
        .postComments .commentForm .commentsList .commentContentWrapper footer {
          text-align: center; }
          .postComments .commentForm .commentsList .commentContentWrapper footer p {
            display: inline;
            font-size: 12px;
            color: #777;
            font-family: "sciflysans", sans-serif; }
            .postComments .commentForm .commentsList .commentContentWrapper footer p strong {
              font-weight: 400; }
            .postComments .commentForm .commentsList .commentContentWrapper footer p.commentDate {
              margin-left: 15px; }
          .postComments .commentForm .commentsList .commentContentWrapper footer .helpfulComment, .postComments .commentForm .commentsList .commentContentWrapper footer .commentHelpfulness {
            display: none; }

p.commentCount {
  display: none; }

.pageWrapper h1.title {
  text-align: center; }
.pageWrapper aside.postAside {
  display: none; }

.blogPostPage .blogDetails {
  display: none; }

.newsListingPage .postAside {
  display: none; }
.newsListingPage .listContent {
  width: 100%;
  margin: 0; }

.eventListingPage .listContent {
  width: 100%;
  margin-right: 0; }
.eventListingPage aside {
  display: none; }

aside .eventDetails .eventWhereWrapper, aside .eventDetails .eventWhenWrapper {
  background-color: #fff;
  margin-top: 0; }
  aside .eventDetails .eventWhereWrapper p, aside .eventDetails .eventWhenWrapper p {
    margin: 0;
    padding: 15px; }
aside .eventDetails .eventWhenWrapper {
  padding: 15px; }
  aside .eventDetails .eventWhenWrapper p strong {
    font-weight: 700; }

.eventContent .eventBookingWrapper, .eventContent .ticketsWrapper, .eventContent .extrasWrapper, .eventContent .eventSecondStepWrapper, .eventContent .eventThirdStepWrapper {
  background-color: #fff;
  border: 1px solid #ededed;
  border-radius: 0;
  padding-right: 15px;
  padding-left: 15px; }
  .eventContent .eventBookingWrapper table, .eventContent .ticketsWrapper table, .eventContent .extrasWrapper table, .eventContent .eventSecondStepWrapper table, .eventContent .eventThirdStepWrapper table {
    margin-top: 15px;
    border: 0; }
    .eventContent .eventBookingWrapper table caption h2, .eventContent .ticketsWrapper table caption h2, .eventContent .extrasWrapper table caption h2, .eventContent .eventSecondStepWrapper table caption h2, .eventContent .eventThirdStepWrapper table caption h2 {
      color: #777;
      margin: 0 0 15px 0;
      text-transform: uppercase;
      text-align: center;
      font-size: 24px; }
    .eventContent .eventBookingWrapper table tr, .eventContent .ticketsWrapper table tr, .eventContent .extrasWrapper table tr, .eventContent .eventSecondStepWrapper table tr, .eventContent .eventThirdStepWrapper table tr {
      background-color: #fff;
      color: #777; }
      .eventContent .eventBookingWrapper table tr span, .eventContent .ticketsWrapper table tr span, .eventContent .extrasWrapper table tr span, .eventContent .eventSecondStepWrapper table tr span, .eventContent .eventThirdStepWrapper table tr span {
        color: #777; }
    .eventContent .eventBookingWrapper table a.buttonIcon, .eventContent .ticketsWrapper table a.buttonIcon, .eventContent .extrasWrapper table a.buttonIcon, .eventContent .eventSecondStepWrapper table a.buttonIcon, .eventContent .eventThirdStepWrapper table a.buttonIcon {
      background-color: #ededed;
      color: #777;
      vertical-align: middle; }
  .eventContent .eventBookingWrapper .formButtons, .eventContent .ticketsWrapper .formButtons, .eventContent .extrasWrapper .formButtons, .eventContent .eventSecondStepWrapper .formButtons, .eventContent .eventThirdStepWrapper .formButtons {
    margin-bottom: 20px;
    text-align: center; }
.eventContent .ticketsWrapper {
  border-bottom: 0; }
.eventContent .eventBookingWrapper {
  border-top: 0;
  padding: 0 15px;
  text-align: center; }
  .eventContent .eventBookingWrapper a {
    float: none;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 15px;
    margin-bottom: 30px; }
.eventContent .postFooterWrapper {
  display: none; }

/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */

/*# sourceMappingURL=style.css.map */
