body {
  font-family: 'Arial', sans-serif; }

header#pageHeader {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0;
  position: relative; }

.content.headerContent {
  background-color: #fff; }
  .content.headerContent .mainLogo {
    background-image: url("http://ataxia16to30.ritdns.co.uk/Handlers/GetImage.ashx?IDMF=4122559e-1a83-4f83-86ac-0f10360b4197&w=300&h=183");
    background-size: cover;
    width: 200px;
    height: 122px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 15px; }
  .content.headerContent .mainCallToAction {
    margin: 73px 15px 0 0; }
    .content.headerContent .mainCallToAction ul.socialIcons li {
      list-style: none;
      margin-left: 30px; }
      .content.headerContent .mainCallToAction ul.socialIcons li.twitter:before {
        content: none; }
      .content.headerContent .mainCallToAction ul.socialIcons li.helpline a i {
        background-color: #50287d; }
      .content.headerContent .mainCallToAction ul.socialIcons li.twitter a i {
        background-color: #55acee; }
      .content.headerContent .mainCallToAction ul.socialIcons li.phone a i {
        background-color: #f7df35; }
      .content.headerContent .mainCallToAction ul.socialIcons li.fbook a i {
        background-color: #01afd4; }
      .content.headerContent .mainCallToAction ul.socialIcons li a {
        border-radius: 0;
        font-family: "league-gothic", sans-serif;
        text-transform: uppercase;
        color: #444;
        border: 0;
        margin: 0;
        font-size: 18px;
        height: auto;
        letter-spacing: 1px;
        line-height: 30px;
        vertical-align: middle; }
        .content.headerContent .mainCallToAction ul.socialIcons li a:hover {
          background-color: transparent;
          color: #000; }
        .content.headerContent .mainCallToAction ul.socialIcons li a i {
          border-radius: 50px;
          color: #fff;
          width: 30px;
          height: 30px;
          text-align: center;
          line-height: 30px; }
  .content.headerContent form {
    display: none; }

nav#menuMain.menuMain {
  background-color: #e4e4e4;
  position: absolute;
  top: 0;
  right: 15px;
  border-radius: 0;
  max-width: none;
  width: auto;
  padding-left: 10px;
  padding-right: 10px; }
  nav#menuMain.menuMain ul li {
    font-family: "league-gothic", sans-serif, serif;
    text-transform: uppercase; }
    nav#menuMain.menuMain ul li:hover > a {
      color: #01afd4;
      background: transparent; }
    nav#menuMain.menuMain ul li a {
      color: #444;
      padding: 10px;
      font-size: 24px;
      letter-spacing: 1px; }
      nav#menuMain.menuMain ul li a:hover {
        color: #01afd4;
        background: transparent; }
    nav#menuMain.menuMain ul li ul {
      background-color: #e4e4e4;
      padding-top: 5px;
      border-radius: 0;
      margin-top: -2px;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      margin-left: -10px;
      padding-bottom: 5px;
      border-top: 1px solid #d7d7d7; }
      nav#menuMain.menuMain ul li ul li:hover {
        background-color: #e4e4e4;
        color: #01afd4; }
      nav#menuMain.menuMain ul li ul li a {
        color: #444;
        line-height: 24px;
        font-size: 20px;
        padding-top: 5px;
        padding-bottom: 5px; }
        nav#menuMain.menuMain ul li ul li a:hover {
          color: #01afd4; }

ul#menuAdmin li.menuAdminBasket, li.menuAdminBasket, li.menuAdminShop {
  display: none; }

section.carousel {
  margin-top: 0;
  max-width: 100%;
  padding-left: 0;
  padding-right: 0; }
  section.carousel li.carouselSlide a.carouselSlideTitle {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    height: 450px;
    display: block; }
    section.carousel li.carouselSlide a.carouselSlideTitle img {
      display: none; }
  section.carousel .carouselDetailWrapper {
    background-image: url("http://ataxia16to30.ritdns.co.uk/Handlers/GetImage.ashx?IDMF=b7d07c1d-51cc-405e-8054-31089470f42f&w=160&h=120");
    background-size: cover;
    width: 45%; }
    section.carousel .carouselDetailWrapper .carouselSlideDetail {
      width: auto;
      margin: 60px 60px 0 60px; }
      section.carousel .carouselDetailWrapper .carouselSlideDetail h2.carouselSlideHeading {
        font-family: 'Arial', sans-serif; }
  section.carousel .carouselButtons {
    background-color: rgba(80, 40, 125, 0.9); }
    section.carousel .carouselButtons li.activeSlide {
      background-color: rgba(1, 175, 212, 0.9); }
    section.carousel .carouselButtons li a.button.carouselButton:hover {
      background-color: rgba(1, 175, 212, 0.9); }

.homepage section.carousel {
  max-width: 100%;
  padding-left: 0;
  padding-right: 0; }
  .homepage section.carousel li.carouselSlide img {
    display: none; }

header.headerWrapper {
  padding-left: 0;
  padding-right: 0; }

.pageWrapper {
  background-color: #ededed;
  padding-bottom: 120px; }
  .pageWrapper .contentBlockWrapper, .pageWrapper .headerText {
    background-color: #fff; }
  .pageWrapper .contentBlockWrapper {
    padding: 20px 60px 60px 60px;
    margin-top: 0; }
  .pageWrapper .headerText {
    padding: 60px 60px 0 60px; }
    .pageWrapper .headerText nav ol {
      margin-top: 0;
      margin-bottom: 0; }
    .pageWrapper .headerText h1, .pageWrapper .headerText p {
      margin-bottom: 0; }
    .pageWrapper .headerText h1 {
      font-size: 54px; }
  .pageWrapper aside.postAside .associated ul {
    margin-top: 0; }
    .pageWrapper aside.postAside .associated ul li {
      margin-top: 0; }
      .pageWrapper aside.postAside .associated ul li h3 {
        padding-left: 15px;
        padding-right: 15px; }
        .pageWrapper aside.postAside .associated ul li h3 a:hover {
          text-decoration: none; }
  .pageWrapper aside.postAside .eventDetails {
    padding: 15px;
    border: 1px solid #ededed; }
    .pageWrapper aside.postAside .eventDetails h2, .pageWrapper aside.postAside .eventDetails h3 {
      color: #50287d;
      font-family: "league-gothic", sans-serif;
      letter-spacing: 1px;
      text-transform: uppercase;
      font-style: normal;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 15px; }
    .pageWrapper aside.postAside .eventDetails h2 {
      font-size: 36px;
      border-bottom: 1px solid #ededed;
      margin-bottom: 30px; }
    .pageWrapper aside.postAside .eventDetails h3 {
      font-size: 24px; }
    .pageWrapper aside.postAside .eventDetails .eventWhereWrapper, .pageWrapper aside.postAside .eventDetails .eventWhenWrapper {
      text-align: center; }
      .pageWrapper aside.postAside .eventDetails .eventWhereWrapper p, .pageWrapper aside.postAside .eventDetails .eventWhereWrapper h3, .pageWrapper aside.postAside .eventDetails .eventWhenWrapper p, .pageWrapper aside.postAside .eventDetails .eventWhenWrapper h3 {
        text-align: left; }
      .pageWrapper aside.postAside .eventDetails .eventWhereWrapper p, .pageWrapper aside.postAside .eventDetails .eventWhenWrapper p {
        margin-top: 0; }
    .pageWrapper aside.postAside .eventDetails a.button, .pageWrapper aside.postAside .eventDetails a.addToCalender {
      font-size: 18px;
      font-family: "league-gothic", sans-serif;
      letter-spacing: 1px;
      text-transform: uppercase;
      border-radius: 0;
      padding: 5px 10px;
      background-color: #50287d;
      color: #fff; }
      .pageWrapper aside.postAside .eventDetails a.button:hover, .pageWrapper aside.postAside .eventDetails a.addToCalender:hover {
        text-decoration: none;
        background-color: #44226a; }
  .pageWrapper.newsListingPage .associatedMostRead, .pageWrapper.newsPostPage .associatedMostRead {
    display: none; }
  .pageWrapper.blogListingPage aside.blogDetails {
    display: none; }
  .pageWrapper.blogPostPage aside.blogDetails {
    display: none;
    margin-bottom: 0;
    min-height: 90px;
    text-align: right; }
  .pageWrapper.blogPostPage .associatedMostRead {
    display: none; }
  .pageWrapper .listing .contentBlockWrapper {
    max-width: 1140px; }
    .pageWrapper .listing .contentBlockWrapper .listContent .listedPost {
      border-radius: 0; }
      .pageWrapper .listing .contentBlockWrapper .listContent .listedPost img {
        border-top-left-radius: 0;
        border-top-right-radius: 0; }
      .pageWrapper .listing .contentBlockWrapper .listContent .listedPost h2 {
        margin-top: 24px;
        margin-bottom: 15px; }
        .pageWrapper .listing .contentBlockWrapper .listContent .listedPost h2 a:hover {
          text-decoration: none; }
  .pageWrapper.faqListingPage article {
    background-color: #fff;
    border-bottom: 1px solid #fff;
    border-left: 1px solid #ededed;
    border-right: 1px solid #ededed;
    padding: 0; }
    .pageWrapper.faqListingPage article header {
      margin-top: 0;
      background-color: #ededed;
      padding: 15px; }
    .pageWrapper.faqListingPage article .accordianBody {
      padding: 15px; }
      .pageWrapper.faqListingPage article .accordianBody footer {
        display: none; }
  .pageWrapper .pageContent table, .pageWrapper .postContent table {
    border: 1px solid #ededed; }
    .pageWrapper .pageContent table thead, .pageWrapper .postContent table thead {
      background-color: transparent;
      font-family: "league-gothic", sans-serif;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #50287d;
      border-top: 1px solid #ededed;
      border-bottom: 1px solid #ededed;
      text-align: left; }
    .pageWrapper .pageContent table tbody, .pageWrapper .postContent table tbody {
      background-color: transparent; }
      .pageWrapper .pageContent table tbody td, .pageWrapper .postContent table tbody td {
        padding: 10px 0; }
  .pageWrapper .eventContent .ticketsWrapper, .pageWrapper .eventContent .extrasWrapper, .pageWrapper .eventContent .eventSecondStepWrapper, .pageWrapper .eventContent .eventThirdStepWrapper {
    background-color: #fff;
    border: 1px solid #ededed;
    padding: 15px; }
    .pageWrapper .eventContent .ticketsWrapper h2, .pageWrapper .eventContent .ticketsWrapper legend, .pageWrapper .eventContent .extrasWrapper h2, .pageWrapper .eventContent .extrasWrapper legend, .pageWrapper .eventContent .eventSecondStepWrapper h2, .pageWrapper .eventContent .eventSecondStepWrapper legend, .pageWrapper .eventContent .eventThirdStepWrapper h2, .pageWrapper .eventContent .eventThirdStepWrapper legend {
      font-family: "league-gothic", sans-serif;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #50287d;
      font-style: normal;
      margin-top: 0;
      margin-bottom: 15px; }
    .pageWrapper .eventContent .ticketsWrapper table, .pageWrapper .eventContent .extrasWrapper table, .pageWrapper .eventContent .eventSecondStepWrapper table, .pageWrapper .eventContent .eventThirdStepWrapper table {
      margin-top: 0;
      border: 0; }
      .pageWrapper .eventContent .ticketsWrapper table thead, .pageWrapper .eventContent .extrasWrapper table thead, .pageWrapper .eventContent .eventSecondStepWrapper table thead, .pageWrapper .eventContent .eventThirdStepWrapper table thead {
        background-color: transparent;
        font-family: "league-gothic", sans-serif;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #50287d;
        border-top: 1px solid #ededed;
        border-bottom: 1px solid #ededed; }
      .pageWrapper .eventContent .ticketsWrapper table tbody, .pageWrapper .eventContent .extrasWrapper table tbody, .pageWrapper .eventContent .eventSecondStepWrapper table tbody, .pageWrapper .eventContent .eventThirdStepWrapper table tbody {
        background-color: transparent; }
        .pageWrapper .eventContent .ticketsWrapper table tbody td, .pageWrapper .eventContent .extrasWrapper table tbody td, .pageWrapper .eventContent .eventSecondStepWrapper table tbody td, .pageWrapper .eventContent .eventThirdStepWrapper table tbody td {
          padding: 10px 0; }
        .pageWrapper .eventContent .ticketsWrapper table tbody h3, .pageWrapper .eventContent .extrasWrapper table tbody h3, .pageWrapper .eventContent .eventSecondStepWrapper table tbody h3, .pageWrapper .eventContent .eventThirdStepWrapper table tbody h3 {
          margin-top: 0; }
        .pageWrapper .eventContent .ticketsWrapper table tbody a, .pageWrapper .eventContent .extrasWrapper table tbody a, .pageWrapper .eventContent .eventSecondStepWrapper table tbody a, .pageWrapper .eventContent .eventThirdStepWrapper table tbody a {
          text-decoration: none;
          background-color: rgba(80, 40, 125, 0.7);
          color: #fff;
          vertical-align: middle; }
          .pageWrapper .eventContent .ticketsWrapper table tbody a:hover, .pageWrapper .eventContent .extrasWrapper table tbody a:hover, .pageWrapper .eventContent .eventSecondStepWrapper table tbody a:hover, .pageWrapper .eventContent .eventThirdStepWrapper table tbody a:hover {
            background-color: #50287d; }
        .pageWrapper .eventContent .ticketsWrapper table tbody input, .pageWrapper .eventContent .extrasWrapper table tbody input, .pageWrapper .eventContent .eventSecondStepWrapper table tbody input, .pageWrapper .eventContent .eventThirdStepWrapper table tbody input {
          margin-top: 0; }
    .pageWrapper .eventContent .ticketsWrapper .formButtons, .pageWrapper .eventContent .extrasWrapper .formButtons, .pageWrapper .eventContent .eventSecondStepWrapper .formButtons, .pageWrapper .eventContent .eventThirdStepWrapper .formButtons {
      text-align: center; }
    .pageWrapper .eventContent .ticketsWrapper button, .pageWrapper .eventContent .extrasWrapper button, .pageWrapper .eventContent .eventSecondStepWrapper button, .pageWrapper .eventContent .eventThirdStepWrapper button {
      font-family: "league-gothic", sans-serif;
      letter-spacing: 1px;
      text-transform: uppercase;
      border-radius: 0;
      font-size: 24px;
      text-decoration: none;
      padding: 5px 10px; }
  .pageWrapper .eventContent .extrasWrapper, .pageWrapper .eventContent .eventSecondStepWrapper {
    border-bottom: 0; }
  .pageWrapper .eventContent .eventBooking {
    text-align: center; }
    .pageWrapper .eventContent .eventBooking a {
      font-family: "league-gothic", sans-serif;
      letter-spacing: 1px;
      text-transform: uppercase;
      border-radius: 0;
      font-size: 24px;
      text-decoration: none;
      padding: 5px 10px; }
  .pageWrapper .eventContent .postFooter p {
    display: none; }
  .pageWrapper .postFooterWrapper .shareWrapper strong {
    margin-bottom: 0; }

.paymentPage {
  padding: 15px;
  background-color: transparent;
  border: 1px solid #ededed; }
  .paymentPage .formWrapper {
    padding: 0;
    margin: 0; }
  .paymentPage table {
    margin-top: 0; }
    .paymentPage table thead {
      background-color: transparent;
      font-family: "league-gothic", sans-serif;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #50287d;
      border-top: 1px solid #ededed;
      border-bottom: 1px solid #ededed; }
    .paymentPage table tbody {
      background-color: #fff; }
  .paymentPage legend, .paymentPage h2 {
    font-family: "league-gothic", sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #50287d;
    font-style: normal;
    margin-top: 0; }
  .paymentPage .basketAdditional {
    border-top: 1px solid #ededed;
    margin-top: 45px;
    padding-top: 15px; }
    .paymentPage .basketAdditional .formQuestion {
      min-height: 50px;
      margin-top: 0;
      margin-bottom: 0; }
      .paymentPage .basketAdditional .formQuestion button, .paymentPage .basketAdditional .formQuestion input {
        margin-top: 0; }
    .paymentPage .basketAdditional h3, .paymentPage .basketAdditional h2, .paymentPage .basketAdditional label {
      font-family: "league-gothic", sans-serif;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #50287d;
      font-style: normal;
      margin-top: 0;
      font-size: 24px;
      font-weight: 400; }

.contentContainer {
  background-color: #ededed; }

body.contact .contactUsBody, body.contact .contactForm {
  padding: 0; }

.homeIntroWrapper {
  margin-top: 60px;
  margin-bottom: 60px;
  width: 100%;
  max-width: 100%;
  background-color: #fff; }
  .homeIntroWrapper .homeIntro {
    max-width: 1140px;
    padding: 15px 0;
    margin: 0 auto; }
    .homeIntroWrapper .homeIntro ul {
      margin: 0 auto; }
      .homeIntroWrapper .homeIntro ul li {
        display: block;
        float: left;
        font-family: "league-gothic", sans-serif;
        font-size: 24px;
        color: #444;
        text-transform: uppercase;
        letter-spacing: 1px;
        text-align: center;
        width: 33.3333%;
        border-right: 1px solid #ededed; }
        .homeIntroWrapper .homeIntro ul li.helpline a i {
          background-color: #50287d; }
        .homeIntroWrapper .homeIntro ul li.phone a i {
          background-color: #f7df35; }
        .homeIntroWrapper .homeIntro ul li a {
          color: #444;
          display: block;
          height: 52px;
          line-height: 52px;
          vertical-align: middle; }
          .homeIntroWrapper .homeIntro ul li a:hover {
            text-decoration: none;
            color: #000; }
          .homeIntroWrapper .homeIntro ul li a i {
            border-radius: 50px;
            color: #fff;
            width: 42px;
            height: 42px;
            text-align: center;
            line-height: 42px;
            vertical-align: middle;
            margin-right: 10px; }
        .homeIntroWrapper .homeIntro ul li:last-child {
          border-right: 0;
          line-height: 26px; }

.homeFeaturesWrapper {
  background-color: #ededed; }
  .homeFeaturesWrapper .homeFeatures {
    margin: 60px auto;
    padding: 0; }
    .homeFeaturesWrapper .homeFeatures .homeFeature {
      width: 50%;
      margin: 0;
      padding: 0;
      background-size: cover;
      height: 300px;
      position: relative; }
      .homeFeaturesWrapper .homeFeatures .homeFeature img {
        display: none; }
      .homeFeaturesWrapper .homeFeatures .homeFeature.homeBox1 {
        background-image: url("http://ataxia16to30.ritdns.co.uk/Handlers/GetImage.ashx?w=600&h=400&f=1&IDMF=ed9f6fe0-6764-45aa-a998-3d5b1fa04a7c"); }
      .homeFeaturesWrapper .homeFeatures .homeFeature.homeBox2 {
        background-image: url("http://ataxia16to30.ritdns.co.uk/Handlers/GetImage.ashx?IDMF=1537cde3-bca6-42f5-8b4f-b7871425d53d&w=600&h=400"); }
      .homeFeaturesWrapper .homeFeatures .homeFeature .homeFeatureDetailsWrapper {
        padding: 15px;
        background-color: rgba(1, 175, 212, 0.8);
        bottom: 0;
        position: absolute;
        width: 100%; }
        .homeFeaturesWrapper .homeFeatures .homeFeature .homeFeatureDetailsWrapper h2, .homeFeaturesWrapper .homeFeatures .homeFeature .homeFeatureDetailsWrapper a, .homeFeaturesWrapper .homeFeatures .homeFeature .homeFeatureDetailsWrapper p {
          color: #fff;
          margin: 0; }
        .homeFeaturesWrapper .homeFeatures .homeFeature .homeFeatureDetailsWrapper h2 {
          font-family: "league-gothic", sans-serif;
          letter-spacing: 1px;
          text-transform: uppercase;
          font-size: 36px;
          margin-bottom: 15px; }

.homeFeedsWrapper {
  background-color: #ededed; }
  .homeFeedsWrapper .homeFeedblogs {
    position: relative; }
    .homeFeedsWrapper .homeFeedblogs h3.feedsTitle {
      position: absolute;
      top: 20px;
      font-family: "league-gothic", sans-serif;
      color: #fff;
      background-color: rgba(1, 175, 212, 0.8);
      padding: 5px 15px;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 24px;
      border-radius: 0;
      font-size: 36px; }
    .homeFeedsWrapper .homeFeedblogs ul {
      padding: 0;
      background-color: #fff;
      min-height: initial; }
      .homeFeedsWrapper .homeFeedblogs ul li {
        margin-top: 0;
        padding-bottom: 20px; }
        .homeFeedsWrapper .homeFeedblogs ul li img {
          width: 100%;
          height: auto;
          margin: 0 0 15px 0; }
        .homeFeedsWrapper .homeFeedblogs ul li h3, .homeFeedsWrapper .homeFeedblogs ul li a, .homeFeedsWrapper .homeFeedblogs ul li p {
          color: #444;
          font-family: 'Arial', sans-serif;
          width: 100%; }
        .homeFeedsWrapper .homeFeedblogs ul li h3 {
          font-size: 24px; }
        .homeFeedsWrapper .homeFeedblogs ul li h3, .homeFeedsWrapper .homeFeedblogs ul li p {
          padding-left: 15px;
          padding-right: 15px; }
          .homeFeedsWrapper .homeFeedblogs ul li h3 span.readMore, .homeFeedsWrapper .homeFeedblogs ul li p span.readMore {
            display: block;
            float: right;
            background-color: #01afd4;
            color: #fff;
            font-family: "league-gothic", sans-serif;
            letter-spacing: 1px;
            text-transform: uppercase;
            font-size: 16px;
            position: relative;
            padding: 5px 20px 5px 10px;
            margin-top: 30px; }
            .homeFeedsWrapper .homeFeedblogs ul li h3 span.readMore:hover, .homeFeedsWrapper .homeFeedblogs ul li p span.readMore:hover {
              background-color: #019abb; }
            .homeFeedsWrapper .homeFeedblogs ul li h3 span.readMore:after, .homeFeedsWrapper .homeFeedblogs ul li p span.readMore:after {
              content: '\f105';
              font-family: FontAwesome;
              display: block;
              font-size: 16px;
              position: absolute;
              right: 5px;
              top: 0;
              line-height: 30px;
              height: 32px; }
  .homeFeedsWrapper .homeFeednews .feedsTitle, .homeFeedsWrapper .homeFeedevents .feedsTitle {
    font-family: "league-gothic", sans-serif;
    color: #444;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: transparent;
    padding: 0 0 0 48px;
    font-size: 36px;
    position: relative; }
    .homeFeedsWrapper .homeFeednews .feedsTitle:before, .homeFeedsWrapper .homeFeedevents .feedsTitle:before {
      font-family: FontAwesome;
      content: '\f0ac';
      display: block;
      width: 36px;
      height: 36px;
      line-height: 36px;
      position: absolute;
      left: 0;
      top: 7px; }
  .homeFeedsWrapper .homeFeednews ul.feedList, .homeFeedsWrapper .homeFeedevents ul.feedList {
    background: transparent;
    padding: 0; }
    .homeFeedsWrapper .homeFeednews ul.feedList h3 a, .homeFeedsWrapper .homeFeedevents ul.feedList h3 a {
      font-family: 'Arial', sans-serif;
      color: #444; }
  .homeFeedsWrapper .homeFeedevents .feedsTitle:before {
    content: '\f073'; }

footer.pageFooterWrapper {
  padding: 0;
  background-color: #505050;
  border-top: 0; }
  footer.pageFooterWrapper .footerTwitter {
    display: none; }
  footer.pageFooterWrapper .footerBox {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 16px; }
  footer.pageFooterWrapper .footerBox2, footer.pageFooterWrapper .NewsletterSign-up {
    width: 100%;
    float: none;
    margin: 0 auto;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 24px; }
    footer.pageFooterWrapper .footerBox2 a, footer.pageFooterWrapper .NewsletterSign-up a {
      color: #01afd4;
      text-decoration: underline; }
      footer.pageFooterWrapper .footerBox2 a:hover, footer.pageFooterWrapper .NewsletterSign-up a:hover {
        text-decoration: none; }
  footer.pageFooterWrapper .newsletter-container {
    background-color: #fff;
    width: 100%; }
  footer.pageFooterWrapper .NewsletterSign-up {
    background-color: #fff;
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 15px;
    height: auto; }
    footer.pageFooterWrapper .NewsletterSign-up .newsletter {
      padding-bottom: 45px; }
    footer.pageFooterWrapper .NewsletterSign-up .featureForm {
      overflow: auto; }
    footer.pageFooterWrapper .NewsletterSign-up h1 {
      color: #444;
      font-family: "league-gothic", sans-serif;
      letter-spacing: 1px;
      text-transform: uppercase;
      font-size: 48px;
      text-align: center;
      margin-bottom: 0;
      margin-top: 15px;
      border-top: 1px solid #ededed;
      padding-top: 60px;
      font-style: normal; }
    footer.pageFooterWrapper .NewsletterSign-up p {
      color: #444;
      margin-top: 10px;
      margin-bottom: 20px;
      font-size: 16px; }
    footer.pageFooterWrapper .NewsletterSign-up .formQuestion {
      width: 25%;
      float: left;
      padding-right: 15px;
      margin-top: 0; }
      footer.pageFooterWrapper .NewsletterSign-up .formQuestion label {
        color: #444;
        text-align: left;
        font-size: 16px;
        font-family: 'Arial', sans-serif; }
      footer.pageFooterWrapper .NewsletterSign-up .formQuestion input {
        border-radius: 0;
        margin-top: 0;
        border: 0;
        background-color: #ededed;
        font-size: 18px; }
      footer.pageFooterWrapper .NewsletterSign-up .formQuestion button {
        background-color: #01afd4;
        font-family: "league-gothic", sans-serif;
        text-transform: uppercase;
        letter-spacing: 1px;
        border-radius: 0;
        font-size: 24px;
        padding-top: 4px;
        padding-bottom: 4px;
        width: 180px;
        margin-top: 23px; }
        footer.pageFooterWrapper .NewsletterSign-up .formQuestion button:hover {
          background-color: #019abb; }
  footer.pageFooterWrapper .HealthUnlocked {
    font-size: 16px;
    margin-bottom: 15px;
    border-bottom: 1px solid #ededed;
    padding: 15px;
    background-color: #50287d;
    color: #fff;
    border-bottom: 0; }
    footer.pageFooterWrapper .HealthUnlocked .healthUnlockedLink {
      background-color: transparent;
      border: 1px solid #6934a4;
      color: #fff;
      margin-left: 5px;
      text-decoration: none;
      font-family: "league-gothic", sans-serif;
      text-transform: uppercase;
      letter-spacing: 1px;
      padding: 5px 10px;
      font-size: 18px;
      border-radius: 0; }
      footer.pageFooterWrapper .HealthUnlocked .healthUnlockedLink:hover {
        background-color: #44226a; }
  footer.pageFooterWrapper .pageFooter {
    max-width: 1140px; }
  footer.pageFooterWrapper .FooterMenu, footer.pageFooterWrapper .FooterSocial {
    width: 50%;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: 0;
    margin-right: 0;
    float: left;
    clear: none;
    color: #fff;
    font-family: "league-gothic", sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 20px; }
    footer.pageFooterWrapper .FooterMenu h1, footer.pageFooterWrapper .FooterSocial h1 {
      text-align: left;
      color: #fff;
      font-family: "league-gothic", sans-serif;
      letter-spacing: 1px;
      text-transform: uppercase;
      font-size: 20px; }
    footer.pageFooterWrapper .FooterMenu p, footer.pageFooterWrapper .FooterSocial p {
      font-family: 'Arial', sans-serif;
      font-size: 16px;
      letter-spacing: 0;
      text-transform: none; }
    footer.pageFooterWrapper .FooterMenu ul, footer.pageFooterWrapper .FooterSocial ul {
      margin-top: 0;
      margin-bottom: 0; }
      footer.pageFooterWrapper .FooterMenu ul li, footer.pageFooterWrapper .FooterSocial ul li {
        margin-bottom: 10px; }
  footer.pageFooterWrapper .FooterSocial ul li i {
    border-radius: 50px;
    color: #fff;
    width: 36px;
    height: 36px;
    text-align: center;
    line-height: 36px;
    vertical-align: middle;
    margin-right: 5px; }
  footer.pageFooterWrapper .FooterSocial ul li.fbook a i {
    background-color: #01afd4; }
  footer.pageFooterWrapper .FooterSocial ul li.helpline a i {
    background-color: #50287d; }
  footer.pageFooterWrapper .FooterSocial ul li.phone a i {
    background-color: #f7df35; }
  footer.pageFooterWrapper .FooterSocial ul li.twitter:before {
    content: ''; }
  footer.pageFooterWrapper .FooterSocial ul li.twitter a i {
    background-color: #55acee; }
  footer.pageFooterWrapper .FooterSocial ul li.instagram a i {
    background-color: #e6007e; }
  footer.pageFooterWrapper .FooterSocial ul li a {
    color: #fff; }
    footer.pageFooterWrapper .FooterSocial ul li a:hover {
      text-decoration: none; }
  footer.pageFooterWrapper .Footercredits {
    width: 100%;
    margin: 0 auto;
    color: #fff;
    font-size: 16px;
    text-align: center;
    clear: both; }
    footer.pageFooterWrapper .Footercredits a {
      color: #fff;
      text-decoration: underline; }
      footer.pageFooterWrapper .Footercredits a:hover {
        text-decoration: none; }

.adminBar, .adminBarEdit {
  margin: 0; }

@media only screen and (max-width: 1000px) {
  section.carousel .carouselDetailWrapper {
    width: 100%;
    background-image: none;
    background-color: #50287d; }
    section.carousel .carouselDetailWrapper .carouselSlideDetail {
      text-align: center;
      margin: 15px 15px 0 15px; }
  section.carousel .carouselButtons li.activeSlide {
    background-color: transparent; }

  .pageWrapper {
    padding-bottom: 60px; }
    .pageWrapper .contentBlockWrapper {
      padding: 15px;
      margin-top: 0; }
    .pageWrapper .headerText {
      padding: 15px 15px 0 15px; }
      .pageWrapper .headerText h1 {
        font-size: 48px; } }
@media only screen and (max-width: 992px) {
  nav#menuMain.menuMain ul li a {
    font-size: 18px; }
  nav#menuMain.menuMain ul li ul li a {
    font-size: 16px; }

  .homeIntroWrapper .homeIntro ul li {
    font-size: 18px; } }
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .content.headerContent a.mainLogo {
    width: 140px;
    height: 85px;
    background-repeat: no-repeat;
    background-size: contain; }

  a.menuMainAlt {
    background-color: #e4e4e4;
    font-family: "league-gothic", sans-serif;
    color: #444;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 18px;
    position: absolute;
    top: 0;
    width: auto;
    right: 15px;
    padding: 5px 10px; }
    a.menuMainAlt:hover {
      color: #000;
      text-decoration: none; }
    a.menuMainAlt:before {
      font-size: 18px;
      margin-right: 10px;
      padding-top: 2px; }

  nav#menuMain.menuMain {
    position: absolute;
    top: 85px;
    margin-top: -50px;
    right: 15px;
    z-index: 10;
    width: 100%;
    max-width: 260px; }
    nav#menuMain.menuMain li.mobile-search {
      display: none; }
    nav#menuMain.menuMain li.mobile-social {
      display: none; }
    nav#menuMain.menuMain ul li a {
      font-size: 24px; }
    nav#menuMain.menuMain ul li ul {
      border-top-color: transparent;
      padding-top: 0;
      margin-right: 0;
      margin-top: 0;
      margin-left: 0; }
      nav#menuMain.menuMain ul li ul li a {
        border-bottom: 1px solid #fff;
        color: #666;
        font-size: 20px;
        padding-top: 10px;
        padding-bottom: 10px; }

  .content.headerContent .mainCallToAction {
    display: block;
    margin: 15px 15px 0 15px; }
    .content.headerContent .mainCallToAction ul.socialIcons li {
      margin: 5px 8px 5px 0;
      width: auto;
      text-align: center; }

  section.carousel li.carouselSlide a.carouselSlideTitle {
    height: 250px; }
  section.carousel .carouselDetailWrapper .carouselSlideDetail {
    margin: 15px;
    padding: 0; }

  .homeFeaturesWrapper .homeFeatures {
    padding-left: 15px;
    padding-right: 15px; }
    .homeFeaturesWrapper .homeFeatures .homeFeature {
      width: 100%;
      margin-bottom: 15px; }

  footer.pageFooterWrapper .footerBox2, footer.pageFooterWrapper .footerBox3, footer.pageFooterWrapper .footerBox4 {
    width: 100%;
    text-align: center; }
  footer.pageFooterWrapper .footerBox1 {
    font-size: 16px; }
    footer.pageFooterWrapper .footerBox1 a img {
      display: block;
      margin-top: 0;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 15px; }
  footer.pageFooterWrapper .NewsletterSign-up .formQuestion {
    width: 100%;
    margin-bottom: 5px; }

  .homeIntroWrapper .homeIntro {
    padding-bottom: 0;
    padding-top: 0; }
    .homeIntroWrapper .homeIntro ul li {
      font-size: 24px;
      width: 100%;
      border-right: 0;
      border-bottom: 1px solid #e4e4e4;
      padding-bottom: 15px;
      padding-top: 15px; }
      .homeIntroWrapper .homeIntro ul li:last-child {
        border-bottom: 0; }

  footer.postFooterWrapper .shareWrapper {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 30px;
    margin-top: 30px;
    text-align: center; }
    footer.postFooterWrapper .shareWrapper strong {
      margin-right: 0;
      margin-bottom: 10px; }

  aside h2, aside h3 {
    margin-left: 20px;
    margin-right: 20px; }

  .listedPost {
    margin-bottom: 15px; } }
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .healthUnlockedLink {
    margin-top: 5px; } }
/* Custom, iPhone Retina */

/*# sourceMappingURL=style.css.map */
